{% extends "base_of_new_website.html" %}
{% load static %}
{% load staticfiles %}
{% load static gravatar staticfiles hijack_tags %}

{% block title %}
    شارژ آنلاین
{% endblock %}
<!-- Locker Modal -->

{% block body_main %}

    <main class="col-xl-10 mr-auto p-0 text-right">


        <section class="bg-navy-blue py-5">
            <div class="mx-sm-5 px-3">
                <form method="post" action="{% url 'charge_credit' %}" class="text-white">
                    {% csrf_token %}

                    <h2 class="mb-4 mx-2 px-4 text-white border-right-white">افزایش اعتبار</h2>
                    {% if not user.first_name %}
                        <div class="form-group text-center">
                            <p>ابتدا مشخصات خود را تکمیل کنید</p>
                            <a role="button" class="btn btn-outline-light" href="{% url 'profile' %}">تکمیل مشخصات</a>
                        </div>
                    {% else %}
                        {% if error != None %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <strong>خطا</strong><br/>{{ error }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}

                        {% if success != None %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <strong>اتمام</strong><br/>{{ success }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}

                        {% if completed == False %}
                            <label for="rules" class="font-weight-bold">مبلغ مورد نظر خود را انتخاب کنید</label>
                            <div class="row text-black-50 justify-content-md-center">
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col">
                                            <div class="card">
                                                <div class="col-12" style="text-align: center;">
                                                    <span style="font-size: 100px; width: 0;">&#128179;</span>
                                                </div>
                                                <div class="card-body">

                                                    <h5 class="card-title">شارژ آنلاین</h5>
set
                                                    <div class="form-group">
                                                        <label for="amount">
                                                            مبلغ
                                                        </label>
                                                        <select class="form-control" id="amount" name="amount">
                                                            <option value="5000">۵,۰۰۰ تومان</option>
                                                            <option value="10000">۱۰,۰۰۰ تومان</option>
                                                            <option value="15000">۱۵,۰۰۰ تومان</option>
                                                            <option value="20000">۲۰,۰۰۰ تومان</option>
                                                            <option value="25000">۲۵,۰۰۰ تومان</option>
                                                            <option value="30000">۳۰,۰۰۰ تومان</option>
                                                            <option value="35000">۳۵,۰۰۰ تومان</option>
                                                            <option value="40000">۴۰,۰۰۰ تومان</option>
                                                            <option value="45000">۴۵,۰۰۰ تومان</option>
                                                            <option value="50000">۵۰,۰۰۰ تومان</option>
                                                            <option value="100000">۱۰۰,۰۰۰ تومان</option>
                                                        </select>
                                                    </div>
                                                    ‍
                                                    <div class="form-group">
                                                    {{ form.as_p }}
                                                    </div>

                                                    <div class="form-group">
                                                        <input type="submit" class="btn btn-block btn-warning"
                                                               value="شارژ"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                </form>
            </div>
        </section>
    </main>
{% endblock %}
