{% extends "base_of_new_website.html" %}
{% load static %}
{% load staticfiles %}
{% load static gravatar staticfiles hijack_tags %}

{% block title %}
    شارژ حساب کاربری
{% endblock %}
<!-- Locker Modal -->

{% block body_main %}

    <main class="col-xl-10 mr-auto p-0 text-right">


        <section class="bg-navy-blue py-5">
            <div class="mx-sm-5 px-3">
                <form class="text-white" action="{% url 'add_rack' %}" method="post">
                    {% csrf_token %}
                    <h2 class="mb-4 mx-2 px-4 text-white border-right-white">افزایش اعتبار</h2>
                    {% if not user.first_name %}
                        <div class="form-group text-center">
                            <p>ابتدا مشخصات خود را تکمیل کنید</p>
                            <a role="button" class="btn btn-outline-light" href="{% url 'profile' %}">تکمیل مشخصات</a>
                        </div>
                    {% else %}
                        <div class="form-group">
                            <label for="rules" class="font-weight-bold">قوانین</label>
                            <div id="rules" class="alert alert-primary" readonly>
                                <ol>
                                    <li>
                                        در راستای کاهش تبادلات نقدی و مشکلات ناشی از آن، شورای صنفی تصمیم به راه اندازی
                                        زیرساختی برای تبادلات مالی بین دانشجویان و شورای صنفی و پرداخت هزینه‌های خدمات
                                        صنفی گرفت.
                                    </li>
                                    <li>
                                        شورای صنفی امانت دار شما بوده و بدون اجازه و اطلاع شما اعتبار حسابتان تغییری
                                        نمی‌کند.
                                    </li>
                                    <li>
                                        با اعتبار موجود در حساب کاربری می‌توانید هزینه‌های امانت گرفتن کتاب، رزرو کمد و
                                        استفاده از سایر خدمات شورای صنفی را پرداخت کنید.
                                    </li>
                                    <li>
                                        هر زمان که دانشجو بخواهد می‌تواند با مراجعه به دفتر شورای صنفی درخواست تسویه
                                        حساب بدهد.
                                    </li>
                                    <li>
                                        از این پس دیگر تبادلات مالی بین شورای صنفی و دانشجویان تنها از این طریق قابل
                                        انجام خواهد بود.
                                    </li>
                                    <li>
                                        شارژ حساب کاربری به صورت آنلاین یا نقدی به منزلهٔ پذیرش این قوانین می‌باشد.
                                    </li>
                                </ol>
                            </div>
                        </div>
                        <label for="rules" class="font-weight-bold">انتخاب روش</label>
                        <div class="row text-black-50">
                            <div class="col-md-4">
                                <div class="card m-1">
                                    <div class="col-12" style="text-align: center;">
                                        <span style="font-size: 100px; width: 0;">&#128181;</span>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">شارژ نقدی</h5>
                                        <p class="card-text">با مراجعه به دفتر شورای صنفی می‌توانید به صورت نقدی
                                            حساب خود را شارژ کنید.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card m-1">
                                    <div class="col-12" style="text-align: center;">
                                        <span style="font-size: 100px; width: 0;">&#128179;</span>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">شارژ آنلاین</h5>
                                        <p class="card-text">همچنین می‌توانید از طریق درگاه بانکی به صورت آنلاین
                                            اعتبار خود را افزایش دهید</p>
                                        <a href="{% url 'charge_credit' %}"
                                           class="btn btn-block btn-warning">شارژ</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card m-1">
                                    <div class="col-12" style="text-align: center;">
                                        <span style="font-size: 100px; width: 0;">&#x1f4b0;</span>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">تسویه حساب</h5>
                                        <p class="card-text">پس از ثبت درخواست تسویه حساب حداکثر تا ۷۲ ساعت تسویه حساب
                                            انجام می‌‌شود.</p>
                                        <a href="{% url 'checkout' %}" class="btn btn-block btn-warning">تسویه حساب</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if user.is_staff %}
                            <label for="rules" class="font-weight-bold row">پنل اعضای شورا</label>
                            <div class="row text-black-50">
                                <div class="col-md-4">
                                    <div class="card m-1">
                                        <div class="col-12" style="text-align: center;">
                                            <span style="font-size: 100px; width: 0;">📈</span>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">افزایش اعتبار</h5>
                                            <p class="card-text">جهت انجام شارژ نقدی، از طریق این پنل باید اعتبار دانشجو
                                                را افزایش دهید.</p>
                                            <a href="{% url 'charge_cash' %}" class="btn btn-block btn-outline-primary">شارژ</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card m-1">
                                        <div class="col-12" style="text-align: center;">
                                            <span style="font-size: 100px; width: 0;">📮</span>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">لیست درخواست‌های تسویهٔ حساب</h5>
                                            <p class="card-text">
                                                لیست درخواست‌های تسویه حساب را مشاهده و تسویه حساب را انجام دهید.
                                            </p>
                                            <a href="{% url 'checkout_list' %}"
                                               class="btn btn-block btn-outline-primary">پنل تسویه حساب</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                    {% endif %}
                </form>
            </div>
        </section>
    </main>
{% endblock %}

