{% extends "base_of_new_website.html" %}
{% load static %}
{% load staticfiles %}
{% load static gravatar staticfiles hijack_tags %}

{% block title %}
    پنل افزابش اعتبار
{% endblock %}
<!-- Locker Modal -->

{% block body_main %}

    <main class="col-xl-10 mr-auto p-0 text-right">


        <section class="bg-navy-blue py-5">
            <div class="mx-sm-5 px-3">
                <form method="post" action="{% url 'charge_cash' %}" class="text-white">
                    {% csrf_token %}

                    <h2 class="mb-4 mx-2 px-4 text-white border-right-white">افزایش اعتبار</h2>
                    {% if not user.first_name %}
                        <div class="form-group text-center">
                            <p>ابتدا مشخصات خود را تکمیل کنید</p>
                            <a role="button" class="btn btn-outline-light" href="{% url 'profile' %}">تکمیل مشخصات</a>
                        </div>
                    {% else %}
                        {% if error != None %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <strong>خطا</strong><br/>{{ error }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}

                        {% if success != None %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <strong>اتمام</strong><br/>{{ success }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}

                        {% if completed == False %}
                            <label for="rules" class="font-weight-bold">اطلاعات را وارد کنید</label>
                            <div class="row text-black-50 justify-content-md-center">
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col">
                                            <div class="card">
                                                <div class="col-12" style="text-align: center;">
                                                    <span style="font-size: 100px; width: 0;">&#128181;</span>
                                                </div>
                                                <div class="card-body">

                                                    <h5 class="card-title">شارژ نقدی</h5>

                                                    <div class="form-group">
                                                        <label for="student_number">
                                                            شمارهٔ دانشجویی
                                                        </label>
                                                        <input type="number" class="form-control" id="student_number"
                                                               name="student_number">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="amount">
                                                            مبلغ (تومان)
                                                        </label>
                                                        <input type="number" class="form-control" id="amount"
                                                               name="amount">
                                                    </div>
                                                    <div class="form-group">
                                                        {{ form.as_p }}
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="submit" class="btn btn-block btn-warning"
                                                               value="شارژ"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                </form>
            </div>
        </section>
    </main>
{% endblock %}
