{% extends "base_of_new_website.html" %}
{% load static %}
{% load staticfiles %}
{% load static gravatar staticfiles hijack_tags %}

{% block title %}
    درخواست‌های تسویهٔ حساب
{% endblock %}
<!-- Locker Modal -->

{% block body_main %}

    <main class="col-xl-10 mr-auto p-0 text-right">


        <section class="bg-navy-blue py-5">
            <div class="mx-sm-5 px-3">

                <h2 class="mb-4 mx-2 px-4 text-white border-right-white">لیست درخواست‌های تسویهٔ حساب</h2>
                {% if not user.first_name %}
                    <div class="form-group text-center">
                        <p>لطفا اطلاعات خود را کامل کنید.</p>
                        <a role="button" class="btn btn-outline-light" href="{% url 'profile' %}">تکمیل مشخصات</a>
                    </div>
                {% else %}
                    <div class="row text-black-50 justify-content-md-center">
                        <div class="col-12">
                            <div class="row">
                                <div class="col">
                                    <div class="card">
                                        <div class="card-body">

                                            {% if checkout_requests %}
                                                <p>
                                                    راهنمای گزینه‌ها:<br/>
                                                <ul>
                                                    <li>انجام شد:
                                                        درصورتی که تسویه حساب را با موفقیت انجام دادید این گزینه را
                                                        انتخاب کنید که اعتبار از حساب کاربر کم شود.
                                                    </li>
                                                    <li>لغو شد:
                                                        درصورتی که به هر دلیل (مثلا اشتباه بودن شمارهٔ کارت) تسویه حساب
                                                        انجام نشد، این گزینه را انتخاب کنید تا از اعتبار کاربر
                                                        کاسته نشود.
                                                    </li>
                                                </ul>
                                                </p>
                                                <table class="table table-striped bg-white text-black-80">
                                                    <thead>
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">نام کاربر</th>
                                                        <th scope="col">مبلغ</th>
                                                        <th scope="col">شماره کارت</th>
                                                        <th scope="col">تاریخ ثبت درخواست</th>
                                                        <th scope="col">اعمال</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for checkout_request in checkout_requests %}
                                                        <tr>
                                                            <th scope="row">{{ forloop.counter }}</th>
                                                            <td>{{ checkout_request.user.get_full_name }}</td>
                                                            <td>{{ checkout_request.user.cash }}</td>
                                                            <td>{{ checkout_request.user.get_card_number_display }}</td>
                                                            <td>{{ checkout_request.date }}</td>
                                                            <td>
                                                                <a href="charge/checkout/action/{{ checkout_request.id }}/2" class="btn btn-success">
                                                                    انجام شد
                                                                </a>
                                                                <a href="charge/checkout/action/{{ checkout_request.id }}/3" class="btn btn-danger">
                                                                    لغو شد
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>

                                            {% else %}
                                                درخواست تسویه حسابی یافت نشد.
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </section>
    </main>
{% endblock %}
