{% extends 'base.html' %}
{% load static gravatar %}

{% block navbar %}{% endblock %}

{% block css %}
    {{ block.super }}
    <style>
        body {
            overflow-x: hidden;
            background: #2a6496;
        }

        body > .container-fluid {
            padding: 0;
        }

        #title_section {
            padding: 120px 0 150px;
            background: #efefef;
            color: #2a6496;
        }

        #title_section .big-logo {
            background-image: url('{% static 'image/logo.png' %}');
            background-size: contain;
            display: inline-block;
            z-index: 100000000000;
            position: absolute;
            right: -185px;
            top:-38px;
            width: 160px;
            height: 160px;
            vertical-align: middle;
        }

        #title_section h1 {
            vertical-align: middle;

        }

        #title_section:after {
            content: "";
            background: #efefef;
            height: 220px;
            position: absolute;
            width: 2470px;
            left: 50%;
            margin-left: -1235px;
            top: 225px;
            z-index: 2;
            transform: rotate(-4.4deg);
            -moz-transform: rotate(-4.4deg);
            -webkit-transform: rotate(-4.4deg);
            -o-transform: rotate(-4.4deg);
            -ms-transform: rotate(-4.4deg);
            -webkit-box-shadow: 0 8px 10px 0 rgba(0, 0, 0, .12), 0 8px 10px 0 rgba(0, 0, 0, .12);
            box-shadow: 0 8px 10px 0 rgba(0, 0, 0, .12), 0 8px 10px 0 rgba(0, 0, 0, .12);
        }

        #title_section .btn {
            background: transparent;
            border: 2px solid #2a6496;
            color: #2a6496;
            width: 140px;
            margin: 5px auto;
        }

        #title_section .btn:active, #title_section .btn:target {
            -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .02), 0 3px 6px 0 rgba(0, 0, 0, .12);
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .02), 0 3px 6px 0 rgba(0, 0, 0, .12);
        }

        #title_section .btn:hover {
            background: #2a6496;
            color: whitesmoke;
            text-shadow: none;
        }

        #announcements_section, #about_section {
        {#            background: #2a6496;#} color: rgba(255, 255, 255, 0.69);
        }

        #announcements_section {
            z-index: 1;
            padding: 55px 30px 55px 30px;
            min-height: 550px;
        }

        #announcements_section h2, #about_section h2 {
            color: rgba(255, 255, 255, 0.95);
        }

        #announcements_section p, #about_section p {
            text-align: justify;
        }

        #announcements_section .announcements-list {
            margin-top: 33px;
        }

        #announcements_section .announcements-list h4 {
            font-weight: bold;
            color: rgba(255, 255, 255, 0.85);
        }

        #announcements_section .announcements-list-item:not(:first-child) {
            border-right: 1px dotted rgba(255, 255, 255, 0.2);
            min-height: 200px;
            height: 100%;
            padding-right: 35px;
            padding-left: 35px;
        }

        #announcements_section:after {
            bottom: -120px;
            background: #efefef;
        }

        #services_section:after {
            bottom: -120px;
            background: #2a6496;
        }

        #announcements_section:after, #services_section:after {
            content: "";
            height: 220px;
            position: relative;
            width: 2470px;
            left: 50%;
            margin-left: -1235px;
            transform: rotate(-4.4deg);
            -moz-transform: rotate(-4.4deg);
            -webkit-transform: rotate(-4.4deg);
            -o-transform: rotate(-4.4deg);
            -ms-transform: rotate(-4.4deg);
            -webkit-box-shadow: 0 -8px 10px 0 rgba(0, 0, 0, .12), 0 -8px 10px 0 rgba(0, 0, 0, .12);
            box-shadow: 0 -8px 10px 0 rgba(0, 0, 0, .12), 0 -8px 10px 0 rgba(0, 0, 0, .12);
        }

        #services_section {
            background: #efefef;
            z-index: 10;
            padding-top: 0;
        }

        #services_section h2 {
            color: rgba(41, 105, 148, 0.95);
        }

        .card {
            background: white;
            -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .12), 0 4px 5px 0 rgba(0, 0, 0, .12);
            box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .12), 0 4px 5px 0 rgba(0, 0, 0, .12);
            padding: 15px 25px;
            margin: 15px 10px;
            text-align: justify;
            color: #222222;
        }

        .cta-button {
            margin: 10px 7px;
            padding: 10px 15px;
            background: transparent;
            display: inline-block;
        }

        .cta-button:hover {
            background: rgba(0, 0, 0, 0.05);
        }

        #about_section h2 {
            color: rgba(255, 255, 255, 0.95);
        }

        #about_section h4 {
            font-weight: bold;
            color: rgba(0, 0, 0, 0.85);
        }
    </style>
{% endblock %}

{% block title %}{{ block.super }} صفحه اصلی {% endblock title %}

{% block body %}
    <div class="container-fluid">
        <div class="row" id="title_section">
            <div class="container">
                <div class="col-lg-9 col-sm-6 hide-xs">
                    <div class="big-logo"></div>
                    <h1>شورای صنفی و رفاهی دانشکده مهندسی کامپیوتر</h1>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div align="center">
                        <a class="btn btn-default btn-lg" href="#about">دربارهٔ شورا</a>
                        <div class="clear"></div>
                        <a class="btn btn-default btn-lg" href="#services">خدمات شورا</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="announcements_section">
            <div class="container-fluid">
                <div class="col-lg-12 col-sm-12"><h2>اطلاعیه‌ها</h2></div>
                <div class="announcements-list">
                    {% for announcement in announcements %}
                        <div class="col-lg-4 col-sm-12 announcements-list-item">
                            <a href="{% url 'show-announcement' announcement.id %}" target="_blank">
                                <h4>{{ announcement.title }}</h4></a>
                            <p>{% autoescape off %}{{ announcement.body|truncatewords_html:20 }}{% endautoescape %}</p>
                            <a href="{% url 'show-announcement' announcement.id %}" target="_blank">متن کامل</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row" id="services_section">
            <div class="container-fluid">
                <a name="services"></a>
                <div class="col-lg-12 col-sm-12"><h2>خدمات شورا</h2></div>
                <div class="col-lg-4 col-sm-12">
                    <div class="card">
                        <a href="{% url 'issues' %}"><h4>رسیدگی به مشکلات درسی</h4></a>
                        <p class="text-muted">در سامانهٔ رسیدگی به مشکلات درسی، مشکلاتی از قبیل عدم ارائهٔ درس، تلاقی
                            زمان امتحان، ظرفیت کم
                            درس و... را می‌توانید مطرح کنید و مشکلاتی که سایر دانشجویان مطرح کرده اند را me too کنید.
                            این مشکلات مستقیماً به اطلاع معاون آموزشی می‌رسند و مرتفع می‌شوند.</p>

                        <a href="{% url 'issues' %}" class="cta-button">ورود به سامانه</a>
                    </div>
                    <div class="card">
                        <a><h4>کتابخانه</h4></a>
                        <p class="text-muted">با مراجعه به دفتر شورا می‌توانید از کتابخانهٔ شورا کتاب‌های مورد نیازتان
                            را به امانت بگیرید.</p>
                        <a href="#" class="cta-button">فهرست کتاب‌ها</a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="card">
                        <a href="{% url 'issues' %}"><h4>رسیدگی به مشکلات رفاهی</h4></a>
                        <p class="text-muted">در سامانهٔ رسیدگی به مشکلات رفاهی، مشکلات و پیشنهادات رفاهی از کم نور بودن
                            کلاس x و نبودن خودپرداز در لابی دانشکده تا چکهٔ شیر آب آبدارخانهٔ طبقه y و سرد بودن لابی را
                            می‌توانید مطرح کنید یا مواردی که از قبل مطرح شده‌اند را me too کنید. این موارد با مسئولین
                            دانشکده در میان گذاشته خواهد شد و در صورت امکان‌پذیری اجرا و حل می‌شوند. </p>

                        <a href="{% url 'issues' %}" class="cta-button">ورود به سامانه</a>
                    </div>
                    <div class="card">
                        <a><h4>گم‌شده‌ها</h4></a>
                        <p class="text-muted">در صورتی که در ساختمان دانشکده وسیله‌ای را گم کرده‌اید به دفتر شورای صنفی سر بزنید؛ احتمالا گم‌شدهٔ شما در کمد گمشده‌های شورا باشد.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="card">
                        <a><h4>کمد</h4></a>
                        <p class="text-muted">برای نگهداری وسایل‌تان می‌توانید از کمدهایی که در طبقهٔ اول دانشکده قرار
                            دارند استفاده کنید. جهت اجارهٔ یک‌سالهٔ کمد یا تمدید اجارهٔ کمدی که از قبل اجاره کرده‌اید به
                            دفتر شورا مراجعه فرمایید.</p>
                        <a href="#" class="cta-button">اجاره/تمدید کمد</a>
                    </div>
                    <div class="card">
                        <a><h4>لوازم ضروری</h4></a>
                        <p class="text-muted">شما می‌توانید با مراجعه به دفتر شورا و ارائهٔ کارت دانشجویی، وسایلی از
                            قبیل شارژر تلفن همراه، دستهٔ بازی، مبدل HDMI به VGA، سه‌راهی، شارژر لپ‌تاپ و... را قرض
                            بگیرید</p>
                        <a href="#" class="cta-button">فهرست کامل لوازم</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="about_section">
            <div class="container-fluid">
                <a name="about"></a>
                <div class="col-lg-12 col-sm-12"><h2>دربارهٔ شورا</h2></div>
                <div class="col-lg-8 col-sm-12">
                    <div class="card">
                        <p>
                            شورای صنفی و رفاهی فیلان است و بهمان
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="card">
                        <h4>اعضای فعلی شورا</h4>
                        <ul>
                            <li>رامتین یزدانیان <span class="text-muted">دبیر</span></li>
                            <li>سیدمحمد حسینی <span class="text-muted">نایب دبیر</span></li>
                            <li>سامان هادیان <span class="text-muted">نماینده شورا مرکز</span></li>
                            <li>صدرا مرادیان <span class="text-muted">مالی و اموال</span></li>
                            <li>فرزانه هاشمی <span class="text-muted">روابط عمومی</span></li>
                            <li>محمدجعفر مشهدی <span class="text-muted">فا</span></li>
                            <li>امیرحسین حمیدیان <span class="text-muted">تأسیسات</span></li>
                            <li>دانیال فامیل‌خلیلی <span class="text-muted">تأسیسات</span></li>
                        </ul>
                        <a href="#" class="cta-button">اعضای دوره‌های قبلی</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
