{% extends 'base.html' %}

{% load static my_app_filters %}

{% block title %}Login{% endblock title %}

{% block body %}
<div class="container">
{#    <div class="row">#}
{#        <div class="col-lg-2 col-centered">#}
{#            <img src="{% static 'image/logo.png' %}"/>#}
{#        </div>#}
{#    </div>#}
    <div class="row">
        <!--<div class="center-block col-md-6 col-md-offset-3 col-lg-5 col-lg-offset-3 ">-->
        <form action="{% url 'login' %}?next={{ next }}" method="post">
            <div class="col-md-6 col-lg-5 col-centered">
                <div class="panel panel-primary ">
                    <div class="panel-heading">ورود</div>
                    <div class="panel-body bg-whitesmoke">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon dir-ltr">@ce.sharif.edu</div>
                                <input type="text" class="form-control  dir-ltr" name="username">
                                <div class="input-group-addon">
                                    <div id="username">نام کاربری</div>
                                </div>
                            </div>
                            <div>{{ form.errors.username }}</div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="password" class="form-control  dir-ltr" name="password">
                                <div class="input-group-addon">
                                    <div id="password">گذرواژه</div>
                                </div>
                            </div>
                            <div>{{ form.errors.password }}</div>
                        </div>
                        <div class="form-actions">
                            <div class="table-row">
                                <div class="table-cell">
                                    <button type="submit" class="btn btn-primary">ورود</button>
                                </div>
                                <label class="flush-right table-cell dropdown-toggle"><a id="forgot" href="#">فراموشی رمز</a></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <form method="post" action="{% url 'password_reset_recover' %}" class="hidden" name="forgot_password_form">
            {% csrf_token %}
            <input type="hidden" class="form-control" id="id_username_or_email" name="username_or_email"/>
        </form>
    </div>
</div>
{% endblock %}
