{% extends "base_of_new_website.html" %}
{% load static %}
{% load staticfiles %}
{% load static gravatar staticfiles hijack_tags %}
{% load i18n %}


{% block title %}
تغییر گذرواژه | {{ user }}
{% endblock %}


{% block body_main %}

<main class="col-xl-10 mr-auto p-0 text-right">

  <section class="bg-navy-blue py-5">
    <div class="container">

      <div class="container py-3 text-right">
        <form class="text-white" action="{% url 'login' %}" method="post">
          <h2 class="mb-4 mx-2 px-4 text-white border-right-white">ورود</h2>
          {% csrf_token %}
          <div class="form-group dir-ltr col-lg-5">
            <label for="email">آدرس ایمیل</label>
            <div class="input-group">
              <input type="text" class="form-control" id="email" name="username">
              <div class="input-group-append">
                <span class="input-group-text">@ce.sharif.edu</span>
              </div>
            </div>
          </div>
          <div>{{ form.errors.username }}</div>

          <div class="form-group dir-ltr col-lg-5">
            <label for="pwd">گذرواژه</label>
            <input type="password" class="form-control" id="pwd" name="password">
          </div>
          <div class="form-group custom-control custom-checkbox" hidden>
            <input class="custom-control-input" type="checkbox" id="remember-me">
            <label class="custom-control-label" for="remember-me"> مرا به خاطر بسپار </label>
          </div>
          <div>{{ form.errors.password }}</div>
          <div class="form-group col-lg-5">
            <button type="submit" class="btn btn-primary">برو!</button>
            <a role="button" class="btn btn-primary" href="{% url 'password_reset_recover' %}">فراموشی
              گذرواژه</a>
            </div>
          </form>
        </div>

      </div>
    </section>
  </main>
{% endblock %}

<!-- SCRIPTS -->
{% block js %}
  {{ block.super }}
  <script>
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });

</script>
{% endblock %}
