{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
    shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>under construction</title>
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
</head>

<body class="dir-rtl text-right">
<main class="p-0 text-right">
    <section class="bg-warning py-5 under-construction-bg">
        <div class="container">
            <h2 class="mb-4 mx-2 px-4 text-dark">&zwnj;در حال بروزرسانی :)</h2>
            <div class="text-center position-relative">
                <a role="button" href="/" class="btn btn-outline-dark">خانه</a>
            </div>
        </div>
    </section>
</main>

</body>
</html>
