{% load my_app_filters %}

{% if poll_question.active == True and has_voted == False %}
    <fieldset>
        <form class="form-inline" action="{% url 'submit-vote' %}" id="poll-form" data-id={{ poll_question.id }} method="post" class="">
            {% csrf_token %}
            <label>
                {{ poll_question.question }}
            </label>

            {% for item in poll_choices %}
                <div>
                    <input type="radio" name="poll-choice" value="{{ item.id }}"
                           id="poll-choice-{{ item.id }}"><label
                        for="poll-choice-{{ item.id }}">
                    &nbsp; {{ item.name }}
                </label>
                </div>
            {% endfor %}

        <label></label>
        <textarea name="comment" style="width:100%;resize: vertical;" rows="5" class="form-control" placeholder="چنانچه نظری دارید در این قسمت وارد نمایید"></textarea>
        <p></p>
        {% if not user.is_authenticated %}
                <input name="username" type="text" maxlength="60" class="form-control" style="width: 49%;"
                       placeholder="نام کاربری (اختیاری)">
        {% endif %}
                <button class="btn btn-primary" id="add_message" role="button"  style="width: 49%;">ارسال</button>
        </form>
    </fieldset>

{% elif poll_question.active == False %}

    <div id="poll-result" class="">

مهلت شرکت در این نظرسنجی به پایان رسیده است.
    </div>
{% else %}

    <div id="poll-result" class="">

        شما قبلا در این نظرسنجی شرکت کرده اید!
    </div>
{% endif %}
