{% load my_app_filters %}

{% if poll_question.active == True and has_voted == False %}
    <fieldset>
        <form action="{% url 'submit-vote' %}" id="poll-form" data-id={{ poll_question.id }} method="post" class="">
            {% csrf_token %}
            <label>
                {{ poll_question.question }}
            </label>
            {% for item in poll_choices %}
                <div>
                    <input type="radio" name="poll-choice" value="{{ item.id }}"
                           id="poll-choice-{{ item.id }}"><label
                        for="poll-choice-{{ item.id }}">
                    &nbsp; {{ item.name }}
                </label>
                </div>
            {% endfor %}
            <div class="form-actions col-lg-12" style="margin-top:10px">
                <button class="btn btn-primary" id="add_message" role="button">Send</button>
            </div>
        </form>
    </fieldset>

{% else %}

    <div id="poll-result" class="">

        <label>
            {{ poll_question.question }}
        </label>
        {% for item in poll_choices %}
            <div>
                <label>
                    {{ item.name }} <small>({{ item.get_count }} رای)</small>
                </label>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{ item.get_result }}"
                     aria-valuemin="0"
                     aria-valuemax="100" style="width: {{ item.get_result }}%;">
                    {{ item.get_result }}%
                </div>
            </div>
            <div class="">

            </div>
        {% endfor %}
    </div>
{% endif %}
