{% extends 'message_base.html' %}
{% load static gravatar %}

{% block title %}نظرسنجی{% endblock title %}

{% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/polls.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/toastr.css' %}"/>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" language="JavaScript">
        window.$ajax_search = "{% url 'objection_ajax_search_issue' %}";
        window.$get_poll_url = "{% url 'get-poll' %}";
        window.csrf_token = "{{ csrf_token }}";
    </script>
    <script type="text/javascript" language="JavaScript">
    </script>
{% endblock %}

{% block navbar %}{% endblock %}

{% block system_name %}
    سامانه نظرسنجی
{% endblock %}

{% block footer_menu %}
    Designed by <a href="http://mjafar.me/" target="_blank">MJafar</a>
    and Semora,
    Powered by <a href="http://amin.sabbaghian.ir/" target="_blank">A'min</a>.
{% endblock %}

{% block form_title %}

{% endblock %}

{% block form %}
    <div class="" id="poll-form">

    </div>
{% endblock %}

{% block panel_heading %}
    <div dir="rtl">
نظرسنجی‌های فعال
    </div>
{% endblock %}

{% block panel_body_top %}
{% endblock %}

{% block panel_body_bottom %}
    {% for poll in polls %}
        <div class="panel panel-default dir-rtl {% if poll.active %}filter_active{% else %}filter_not_active{% endif %}">
            <div class="panel-heading">
                <a href="#" target="_self" class="permanent link poll-link" data-id={{ poll.id }}><span
                        class="request-id glyphicon glyphicon-stats"></span>
            <span class="panel-title">
                {{ poll.name }}
            </span>
                </a>
        <span id="poll-countdown-{{ poll.id }}" class="pull-left poll-countdown">

        </span>

            </div>
        <div class="panel-body pull-body" id="pull-body-{{ poll.id }}" style="display: none;">
            {% if poll.details %}
            {{ poll.details|safe }}
            {% else %}
                <i>
                توضیحی برای نمایش وجود ندارد!
                </i>
            {% endif %}
        </div>
        </div>
    {% endfor %}
{% endblock %}

{% block message_template %}
    <script type="text/javascript" language="JavaScript" src="{% static 'js/jquery.form.js' %}"></script>
    <script type="text/javascript" language="JavaScript" src="{% static 'js/polls.js' %}"></script>
    <script type="text/javascript" language="JavaScript" src="{% static 'js/jquery.countdown.min.js' %}"></script>

    <script>
        $window.on('load', function () {
            $('.poll-link')[0].click();
        });
    </script>
    <script type="text/javascript">

        {% for poll in polls %}
            {% if poll.end %}
                $("#poll-countdown-" + "{{ poll.id }}").countdown("{{ poll.get_end }}", function (event) {
                    $(this).text(
                            event.strftime('%D روز %H:%M:%S')
                    );
                });
            {% endif %}
        {% endfor %}
    </script>

{% endblock %}
