{% extends 'message_base.html' %}

{% load static %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" language="JavaScript">
        window.$ajax_search = "{% url 'objection_ajax_search' %}";
        window.$course_list_url = "{% url 'get_courses_list' %}";
        window.csrf_token = "{{ csrf_token }}";
    </script>
    <script type="text/javascript" language="JavaScript" src="{% static 'js/select2/select2.min.js' %}"></script>
    <script type="text/javascript" language="JavaScript" src="{% static 'js/toastr.js' %}"></script>
    <script type="text/javascript" language="JavaScript" src="{% static 'js/message_add.js' %}"></script>
    <script type="text/javascript" language="JavaScript" src="{% static 'js/messages.js' %}"></script>
    <script type="text/javascript" language="JavaScript" src="{% static 'js/remove_search_filter.js' %}"></script>
    <script type="text/javascript" language="JavaScript">
        var $ajax_metoo = '{% url "add_me_too" %}';
        var $load_url = '{% url "get_objections_list" %}';
    </script>

{% endblock %}

{% block title%}
سامانه رسیدگی به مشکلات برنامه درسی
{% endblock title%}

{% block system_name %}
سامانه رسیدگی به مشکلات برنامه درسی
{% endblock %}
{% block activation %}
<ul class="navbar-nav flex-xl-column w-100 text-center p-0 mb-auto">
  <li class="nav-item">
    <a class="nav-link" href="/">خانه</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/announcements">اطلاعیه&zwnj;ها</a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="{% url 'requests' %}">objection</a>
  </li>
  <li class="nav-item">
    <a class="nav-link under-construction" href="{% url 'under_construction' %}">کتابخانه</a>
  </li>
  {% if user.is_authenticated %}
  <li class="nav-item">
    <a class="nav-link" href="/locker">کمد</a>
  </li>
  {% else %}
  <li class="nav-item">
    <a class="nav-link" href="/locker" data-toggle="modal" data-target="#loginModal">کمد</a>
  </li>
  {% endif %}

</ul>
{% endblock %}
{% block message_template %}
    <div class="panel panel-default dir-rtl hide" mj-dataid="" mj-category-id="" mj-message-template="true">
        <div class="panel-heading" style="margin-bottom: -1px;">
            {#            <object style="" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"#}
            {#                    width="14"#}
            {#                    height="14" >#}
            {#                <param name="movie" value="/flash/clippy.swf"/>#}
            {#                <param name="allowScriptAccess" value="always" />#}
            {#                <param name="quality" value="high" />#}
            {#                <param name="scale" value="noscale" />#}
            {#                <param name="FlashVars" value="text=">#}
            {#                <param name="bgcolor" value="#{bgcolor}">#}
            {#                <embed src="{% static 'clippy.swf' %}"#}
            {#                       width="14"#}
            {#                       height="14"#}
            {#                       name="clippy"#}
            {#                       quality="high"#}
            {#                       allowScriptAccess="always"#}
            {#                       type="application/x-shockwave-flash"#}
            {#                       pluginspage="http://www.macromedia.com/go/getflashplayer"#}
            {#                       FlashVars="text="#}
            {#                />#}
            {#            </object>#}
            <div class="pull-left metoo-wrapper">
                <span class="badge" mj-metoo-number>0</span>
                <a class="metoo" href="#" mj-metoo-link>منم همینطور!</a>
            </div>
            <a href="#" target="_self" class="permanent link" mj-permanent-link><span
                    class="request-id glyphicon glyphicon-link" mj-request-id></span></a>
            <a data-toggle="collapse" data-parent="#accordion" class="non-decoration">
            <span class="panel-title">
            <span class="conflict category" mj-conflict-category></span>
            <span class="conflict name" mj-course-1></span>
            <span mj-category="1"> با <span class="conflict name" mj-course-2></span></span>
            </span>
            </a>


        </div>
        <div class="panel-collapse collapse in">
            <div class="panel-body good-content" mj-message-container></div>
            <div class="panel-body good-content hide well" style="margin-bottom: 0px" mj-reply-wrapper>
                <span mj-reply-text></span>
                توسط: <span mj-reply-name></span>
            </div>
        </div>
    </div>
{% endblock %}
