{% extends "base_of_new_website.html" %}
{% load static %}
{% load staticfiles %}
{% load static gravatar staticfiles hijack_tags %}

{% block title %}
    انتخاب کمد
{% endblock %}
<!-- Locker Modal -->
{% block navbar %}
    {{ block.super }}

    <div class="modal fade" id="lockerModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title ml-auto" id="locker-title">کمد Letter</h4>
                    <button type="button" class="close ml-0" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="container text-right py-3">
                    <div class="locker dir-ltr">
                        <div class="row px-3">
                            <div class="col m-1 rounded" data-toggle="tooltip" id="11">11</div>
                            <div class="col m-1 rounded" data-toggle="tooltip" id="12">12</div>
                            <div class="col m-1 rounded" data-toggle="tooltip" id="13">13</div>
                        </div>
                        <div class="row px-3">
                            <div class="col m-1 rounded" data-toggle="tooltip" id="21">21</div>
                            <div class="col m-1 rounded" data-toggle="tooltip" id="22">22</div>
                            <div class="col m-1 rounded" data-toggle="tooltip" id="23">23</div>
                        </div>
                        <div class="row px-3">
                            <div class="col m-1 rounded" data-toggle="tooltip" id="31">31</div>
                            <div class="col m-1 rounded" data-toggle="tooltip" id="32">32</div>
                            <div class="col m-1 rounded" data-toggle="tooltip" id="33">33</div>
                        </div>
                        <div class="row px-3">
                            <div class="col m-1 rounded" data-toggle="tooltip" id="41">41</div>
                            <div class="col m-1 rounded" data-toggle="tooltip" id="42">42</div>
                            <div class="col m-1 rounded" data-toggle="tooltip" id="43">43</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block activation %}
<ul class="navbar-nav flex-xl-column w-100 text-center p-0 mb-auto">
  <li class="nav-item">
    <a class="nav-link" href="/">خانه</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/announcements">اطلاعیه&zwnj;ها</a>
  </li>
  <li class="nav-item">
    <a class="nav-link under-construction" href="{% url 'under_construction' %}">ثبت گزارش</a>
  </li>
  <li class="nav-item">
    <a class="nav-link under-construction" href="{% url 'under_construction' %}">کتابخانه</a>
  </li>
  {% if user.is_authenticated %}
  <li class="nav-item active">
    <a class="nav-link" href="/locker">کمد</a>
  </li>
  {% else %}
  <li class="nav-item">
    <a class="nav-link" href="/locker" data-toggle="modal" data-target="#loginModal">کمد</a>
  </li>
  {% endif %}

</ul>
{% endblock %}

{% block body_main %}

    <main class="col-xl-10 mr-auto p-0 text-right">


        <section class="bg-navy-blue py-5">
            <div class="mx-sm-5 px-3">
                <form class="text-white" action="{% url 'add_rack' %}" method="post">
                    {% csrf_token %}
                    <h2 class="mb-4 mx-2 px-4 text-white border-right-white">رزرو کمد</h2>
                    <!--<div class="alert alert-danger" role="alert">
                    کمد انتخاب شده قبلا رزرو شده است :(
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="float: left">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>-->
                    {% if not user.first_name %}
                        <div class="form-group text-center">
                            <p>ابتدا مشخصات خود را تکمیل کنید</p>
                            <a role="button" class="btn btn-outline-light" href="{% url 'profile' %}">تکمیل مشخصات</a>
                        </div>
                    {% else %}
                        <div class="form-group">
                            <label for="rules" class="font-weight-bold">قوانین</label>
                            <div id="rules" class="alert alert-primary" readonly>
                                <ol>
                                    <li>مدت تحویل تقریبا برابر یک سال است و موعد باز تحویل توسط شورای صنفی اعلام خواهد
                                        شد.
                                    </li>
                                    <li>برای امنیت هر چه بیشتر کمدها تمهیداتی از قبیل قفل اضافه و دوربین اندیشیده&zwnj;ایم
                                        اما همچنان شورای صنفی مسئولیتی نسبت به امنیت وسایل داخل کمدها نمی&zwnj;پذیرد.
                                    </li>
                                    <li>در صورت وارد کردن خسارت به کمد و متعلقات آن و عدم جبران خسارت وارد شده توسط مالک
                                        کمد، در هنگام بازپس&zwnj;گیری کمد، هیچ مبلغی بازگردانده نمی&zwnj;شود.
                                    </li>
                                    <li>شورای صنفی پس از اعلام قبلی و پس از موعد اتمام کمدها اقدام به تخلیه آن&zwnj;ها
                                        خواهد کرد و مسئولیتی نسبت به اقلام یافت شده در کمد نمی&zwnj;پذیرد.
                                    </li>
                                    <li>یک نسخه از کلید قفل اضافه&zwnj;ی کمد نزد شورای صنفی نگهداری خواهد شد و در صورت
                                        لزوم شورا با اطلاع قبلی قفل اضافه را باز خواهد کرد.
                                    </li>
                                    <li>مبلغ دریافتی برای اجاره&zwnj;ی کمد 40 هزار تومان است و پس از اتمام موعد کمد و تحویل آن و مطابق
                                        بندهای فوق مبلغ 35 هزار تومان به شما بازگردانده خواهد شد.
                                    </li>
                                </ol>
                            </div>
                        </div>
                        <div class="form-group custom-control custom-checkbox">
      <span onclick="if($('#agreement').prop('checked'))lockerSelector.scrollIntoView(
      {
        behavior:'smooth',
        block:'start'
      });">

      <input type="checkbox" class="custom-control-input" id="agreement" required>
      <label for="agreement" class="custom-control-label">قبول
        دارم</label>
      </span>
                        </div>
                        <div class="form-group" id="lockerSelector">
                            <label for="locker-map" class="font-weight-bold">انتخاب کمد</label>
                            <label for="locker-map">
                                <span class="badge badge-primary" style="font-size: inherit"> کمدهای شما :
                                    {% for rack in theRacks %}
                                        {% if rack.payment %}
                                            {{ rack }}
                                        {% endif %}
                                    {% endfor %}
                                </span>
                            </label>
                            <div class="position-relative dir-ltr map-container form-group" id="locker-map">
                                <div class="locker-container">
                                    <div class="d-flex" style="margin-right: 14%; padding: 1.5% 1.5% 0 1.5%;">
                                        <a href="#" role="button" data-toggle="modal" data-target="#lockerModal"
                                           class="btn btn-light locker-btn" id="lockerB" style="margin-right: 8%"
                                           onclick='changeLetter("B");'>B</a>
                                        <a href="#" role="button" data-toggle="modal" data-target="#lockerModal"
                                           class="btn btn-light locker-btn mr-auto" id="lockerA"
                                           onclick='changeLetter("A");'>A</a>
                                        <a href="#" role="button" data-toggle="modal" data-target="#lockerModal"
                                           class="btn btn-light locker-btn" id="lockerP"
                                           onclick='changeLetter("P");'>P</a>
                                        <a href="#" role="button" data-toggle="modal" data-target="#lockerModal"
                                           class="btn btn-light locker-btn" id="lockerQ"
                                           onclick='changeLetter("Q");'>Q</a>
                                        <a href="#" role="button" data-toggle="modal" data-target="#lockerModal"
                                           class="btn btn-light locker-btn" id="lockerN"
                                           onclick='changeLetter("N");'>N</a>
                                    </div>
                                    <div class="d-flex" style="margin-right: 14%; padding: 0 1.5%;">
                                        <a href="#" role="button" data-toggle="modal" data-target="#lockerModal"
                                           class="btn btn-light locker-btn mr-auto" id="lockerC"
                                           onclick='changeLetter("C");'>C</a>
                                        <a href="#" role="button" data-toggle="modal" data-target="#lockerModal"
                                           class="btn btn-light locker-btn" id="lockerO"
                                           onclick='changeLetter("O");'>O</a>
                                    </div>
                                    <div class="d-flex" style="margin-right: 14%; padding: 0 1.5%;">
                                        <a href="#" role="button" data-toggle="modal" data-target="#lockerModal"
                                           class="btn btn-light locker-btn mr-auto" id="lockerD"
                                           onclick='changeLetter("D");'>D</a>

                                    </div>

                                    <div class="d-flex d-padding" style="padding: 0 1.5% 3.5% 1.5%;">
                                        <a href="#" role="button" data-toggle="modal" data-target="#lockerModal"
                                           class="btn btn-light locker-btn ml-auto" id="lockerL"
                                           onclick='changeLetter("L");'>L</a>
                                        <a href="#" role="button" data-toggle="modal" data-target="#lockerModal"
                                           class="btn btn-light locker-btn" id="lockerK"
                                           onclick='changeLetter("K");'>K</a>
                                    </div>
                                    <div class="d-flex" style="padding: 0 1.5%;">
                                        <a href="#" role="button" data-toggle="modal" data-target="#lockerModal"
                                           class="btn btn-light locker-btn" id="lockerE"
                                           onclick='changeLetter("E");'>E</a>
                                        <a href="#" role="button" data-toggle="modal" data-target="#lockerModal"
                                           class="btn btn-light locker-btn ml-auto" id="lockerJ"
                                           onclick='changeLetter("J");'>J</a>
                                    </div>
                                    <div class="d-flex" style="padding: 0 1.5%;">
                                        <a href="#" role="button" data-toggle="modal" data-target="#lockerModal"
                                           class="btn btn-light locker-btn" id="lockerF"
                                           onclick='changeLetter("F");'>F</a>
                                        <a href="#" role="button" data-toggle="modal" data-target="#lockerModal"
                                           class="btn btn-light locker-btn ml-auto" id="lockerI"
                                           onclick='changeLetter("I");'>I</a>
                                    </div>
                                    <div class="d-flex" style="padding: 3.5% 1.5% 25% 1.5%;">
                                        <a href="#" role="button" data-toggle="modal" data-target="#lockerModal"
                                           class="btn btn-light locker-btn" id="lockerG"
                                           onclick='changeLetter("G");'>G</a>
                                        <a href="#" role="button" data-toggle="modal" data-target="#lockerModal"
                                           class="btn btn-light locker-btn" id="lockerH"
                                           onclick='changeLetter("H");'>H</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group form-row">
                            <div class="form-group col-md-4">
                                <label for="chosen-locker" class="font-weight-bold">شماره کمد</label>
                                <input type="text" id="chosen-locker" class="form-control" name="locker-name"
                                       placeholder="از روی نقشه انتخاب کن!"
                                       pattern="[A-LN-P][1-4][1-3]" readonly required>
                            </div>
                            <!--div class="form-group col-md">
                            <label for="reservation-date">تاریخ</label>
                            <input type="date" id="reservation-date" class="form-control" readonly required>
                          </div>
                          <div class="form-group col-md">
                          <label for="locker-price">مبلغ <span class="badge badge-warning">تومان</span></label>
                          <input type="number" id="locker-price" value="20000"class="form-control" readonly required>
                        </div>-->
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-success" id="continueButton">ادامه</button>
                        </div>
                    {% endif %}
                </form>
            </div>
        </section>
    </main>
{% endblock %}

<!-- SCRIPTS -->
{% block js %}

    <script type="text/javascript" src="{% static "js/jquery-3.3.1.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.bundle.js" %}"></script>
    <script type="text/javascript" src="{% static "js/locker.js" %}"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
        var lockerLetter = 'M';

        function changeLetter(ch) {
            var occupied = [], myLockers = [];
            {% for rack in racks %}
                {% if rack.receiver != user and rack.payment == True %}
                    occupied.push("{{rack.name}}");
                {% endif %}
            {% endfor %}
            {% for rack in theRacks %}
                {% if rack.payment == True %}
                    myLockers.push("{{rack.name}}");
                {% endif %}
            {% endfor %}

            // console.log(racks);
            // var rr = {{racks}};

            $("#locker-title").html("کمد " + ch);
            lockerLetter = ch;
            $(".locker > .row > .col ").each(function () {
                var my = $(this).html();
                my = my.slice(my.length - 2, my.length);
                $(this).html(lockerLetter + my);
                my = $(this).html();
                if (occupied.includes(my)) {
                    $(this).addClass("occupiedLocker").prop("onclick", null).off("click");
                }
                else if (myLockers.includes(my)) {
                    $(this).addClass("myLocker").prop("onclick", null).off("click");
                }
                else {
                    $(this).removeClass("bg-danger btn-danger bg-primary btn-primary occupiedLocker myLocker")
                        .attr("title", "می توانید این کمد را اجاره کنید.").tooltip();

                    $(this).click(function () {
                        $("#chosen-locker").val($(this).html());
                        $("#lockerModal").modal('toggle');
                        $("#lockerModal").on("hidden.bs.modal", function () {
                            continueButton.scrollIntoView(
                                {
                                    behavior: 'smooth',
                                    block: 'start'
                                });
                        });
                    });
                    $(this).css("cursor", "pointer");
                }
                $(".occupiedLocker").each(function () {
                    console.log("SALAM");
                    $(this).addClass("bg-danger btn btn-danger")
                        .css("cursor", "not-allowed")
                        .click(null)
                        .attr("title", "این کمد توسط شخص دیگری اجاره شده است.").tooltip();
                    $('[data-toggle="tooltip"]').tooltip();


                });
                $(".myLocker").each(function () {
                    console.log("Khodafez");
                    $(this).addClass("bg-primary btn btn-primary")
                        .css("cursor", "not-allowed")
                        .click(null)
                        .attr("title", "شما این کمد را اجاره کرده اید.").tooltip();
                    $('[data-toggle="tooltip"]').tooltip();

                });
            });
        }

    </script>
{% endblock %}
