<html>
  <head>
    <title>payment</title>
  </head>
  <body>
    <form action="{% url 'pay' rack.id %}" id="sell-form" method="post"
          class="form-inline">
        {% csrf_token %}
        <input name="user" type="text" class="form-control" style="width: 30%;" value="{{user}}" disabled>
        <input name="sell-value" type="number" class="form-control" value=20000 style="width: 20%;" disabled>
        <button class="btn btn-primary" id="send-donate" role="button" style="width: 10%;">
            پرداخت
        </button>
        <!-- Gateway Verify Logo -->

        <!-- Gateway Verify Logo -->
        <p></p>
    </form>
  </body>
</html>
