{% extends "base_of_new_website.html" %}

{% load static %}
{% load staticfiles %}
{% load static gravatar staticfiles hijack_tags %}

{% block title %}
  announcements
{% endblock %}



{% block css %}
{{ block.super }}
<style>
    .entry::after {
        background-color: #ed344b;
        border-color: #1c3861;
    }

    .timeline::after {
        background-color: #ed344b;
    }
</style>
{% endblock %}

{% block body_main %}
<main class="col-xl-10 mr-auto p-0 text-right">
    <section class="bg-navy-blue py-5">
        <div class="container">
            <h2 class="mb-4 mx-2 px-4 text-white border-right-white">اطلاعیه ها</h2>
            <div class="timeline mx-2">
                <span class="line"></span>
                {% for announcement in announcements %}
                    <article class="entry">
                        <div class="content">
                            <h2>{{ announcement.title }}</h2>
                            <p>{{ announcement.body|safe|truncatechars:50 }}</p>
                            <a role="button" class="btn btn-sm btn-primary"
                               href="{{ announcement.get_absolute_url }}">ادامه</a>
                        </div>
                    </article>
                {% endfor %}
            </div>
            <div class="mt-4 text-center" hidden>
                <button id="moreItems" class="btn btn-outline-light" v-if="itemsShown<announcements.length">بازم
                    بیار
                </button>
            </div>

        </div>
    </section>
</main>
{% endblock %}

<!-- SCRIPTS -->
{% block js %}
  {{block.super}}
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script type="text/javascript" src="{% static "js/announcements.js" %}"></script>

<script>
$(document).ready(function () {
  $('[data-toggle="tooltip"]').tooltip();
  showAnnouncements(event);
});

</script>
{% endblock %}
