{% load static %}
{% load staticfiles %}
{% load static gravatar staticfiles hijack_tags %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
    shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{{ announcement.title }}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/transition.css' %}">


    <style>
        .single-entry::after {
            background-color: #ed344b;
            border-color: #1c3861;
        }

        .timeline::after {
            background-color: #ed344b;
        }

        .timeline .line {
            left: 100%;
            margin-left: -5px;
        }

        .single-entry {
            width: 100%;
            padding-left: 0rem;
            padding-right: 3rem;
        }

        .single-entry::before {
            left: auto !important;
            border: solid transparent !important;
            border-width: .75rem .75rem 0.75rem !important;
            border-left-color: white !important;
        }

        .single-entry:nth-child(even)::after {
            left: auto;
            margin-right: 2.5px;
        }
    </style>

</head>

<body class="dir-rtl text-right">

<!-- Login Modal -->
<div class="modal fade" id="loginModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title ml-auto">ورود</h4>
                <button type="button" class="close ml-0" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="container py-3 text-right">
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group dir-ltr">
                        <label for="email">آدرس ایمیل</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="email" name="username">
                            <div class="input-group-append">
                                <span class="input-group-text">@ce.sharif.edu</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group dir-ltr">
                        <label for="pwd">گذرواژه</label>
                        <input type="password" class="form-control" id="pwd" name="password">
                    </div>
                    <div class="form-group custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" id="remember-me">
                        <label class="custom-control-label" for="remember-me"> مرا به خاطر بسپار </label>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">برو!</button>
                        <a role="button" class="btn btn-outline-primary" href="{% url 'password_reset_recover' %}">فراموشی
                            گذرواژه</a>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<aside class="col-xl-2 bg-white p-0">
    <nav class="navbar navbar-expand-xl navbar-light flex-xl-column p-0 h-100">
        <!-- Brand -->
        <div class="navbar-brand m-0 p-0">
            <div id="logo-container" class="bg-red" style="text-align: center">
                <a href="index.html">
                    <img src="{% static "img/white-logo.png" %}" class="logo" alt="Logo">
                </a>
            </div>
            <span class="w-100 nav-logo-box">

                {% if user.is_authenticated %}
                    <div class="d-flex w-100">
                    <div class="dropdown w-100">
                        <div class="btn dropdown-toggle w-100" data-toggle="dropdown">
                            <img class="rounded-circle" src="{% gravatar_url user.email %}">
                            <span class="btn-username">{{ user }}</span>
                        </div>
                        <div class="dropdown-menu text-right">
                            <span class="dropdown-item dropdown-username">{{ user }}</span>
                            <a class="dropdown-item" href="{% url 'password_reset_change' %}">تغییر گذرواژه</a>
                            <a class="dropdown-item" href="{% url 'profile' %}">تکمیل پروفایل</a>
                            <a class="dropdown-item" href="{% url 'logout' %}">خروج</a>
                        </div>
                    </div>
                  </div>
                {% else %}
                    <button class="btn btn btn-success" type="button" data-toggle="modal"
                            data-target="#loginModal">ورود</button>

                {% endif %}


            </span>
        </div>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button"
                data-toggle="collapse" data-target="#collapsibleNavbar"
                style="margin-left: 15px">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse w-100 justify-content-between flex-column" id="collapsibleNavbar">
          <ul class="navbar-nav flex-xl-column w-100 text-center p-0 mb-auto">
              <li class="nav-item">
                  <a class="nav-link active" href="/">خانه</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/announcements">اطلاعیه&zwnj;ها</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link under-construction" href="{% url 'under_construction' %}">ثبت گزارش</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link under-construction" href="{% url 'under_construction' %}">کتابخانه</a>
              </li>
              {% if user.is_authenticated %}
                  <li class="nav-item">
                      <a class="nav-link" href="/locker">کمد</a>
                  </li>
              {% else %}
                  <li class="nav-item">
                      <a class="nav-link" href="/locker" data-toggle="modal" data-target="#loginModal">کمد</a>
                  </li>
              {% endif %}

          </ul>
            <div class="d-flex">
                <div class="mx-auto d-inline-flex my-3" id="contact-icons">
                    <a href="https://t.me/SenfiCE" data-toggle="tooltip" data-placement="top" title="تلگرام">
                        <i class="telegram-icon m-1"></i>
                    </a>
                    <a href="mailto:shora.cesharif@gmail.com" data-toggle="tooltip" data-placement="top" title="ایمیل">
                        <i class="email-icon m-1"></i>
                    </a>
                    <a href="https://t.me/shora_ce" data-toggle="tooltip" data-placement="top" title="کانال تلگرام">
                        <i class="channel-icon m-1"></i>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</aside>

<main class="col-xl-10 mr-auto p-0 text-right">
    <section class="bg-navy-blue py-5">
        <article class="container">
            <h2 class="mb-4 mx-2 px-4 text-white border-right-white">{{ announcement.title }}</h2>
            <div class="timeline mx-2">
                <span class="line"></span>
                <div class="single-entry">
                    <div class="content">
                        <p>{{ announcement.body|safe }}</p>
                    </div>
                </div>
            </div>
        </article>
    </section>
</main>
<!-- SCRIPTS -->
<script type="text/javascript" src="{% static "js/jquery-3.3.1.js" %}"></script>
<script type="text/javascript" src="{% static "js/bootstrap.bundle.js" %}"></script>
<script type="text/javascript" src="{% static "js/transition.js" %}"></script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        showAnnouncements(event);

    });

</script>
</body>

</html>
