{% load static my_app_filters %}

<form action="{% url 'add_objection_issue' %}" method="POST" class="" name="search_form">
    {% csrf_token %}
    <fieldset>
        {{ form.category|get_form_field_as_div:"12$searchable"|safe }}
        {{ form.title|get_form_field_as_div:12|safe }}
        {{ form.message|get_form_field_as_div:12|safe }}
    </fieldset>
    <div class="form-actions col-lg-12" style="margin-top:10px">
        <button class="btn btn-primary" id="add_message" role="button">ثبت</button>
        <!-- TODO -->
    </div>
</form>
