
@font-face {
  font-family: 'BBadr';
  src: url('../font/BBadr.eot?#') format('eot'),  /* IE6–8 */
       url('../font/BBadr.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../font/BBadr.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BBaran';
  src: url('../font/BBaran.eot?#') format('eot'),  /* IE6–8 */
       url('../font/BBaran.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../font/BBaran.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BBardiya';
  src: url('../font/BBardiya.eot?#') format('eot'),  /* IE6–8 */
       url('../font/BBardiya.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../font/BBardiya.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BCompset';
  src: url('../font/BCompset.eot?#') format('eot'),  /* IE6–8 */
       url('../font/BCompset.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../font/BCompset.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BDavat';
  src: url('../font/BDavat.eot?#') format('eot'),  /* IE6–8 */
       url('../font/BDavat.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../font/BDavat.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BElham';
  src: url('../font/BElham.eot?#') format('eot'),  /* IE6–8 */
       url('../font/BElham.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../font/BElham.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BEsfehanBold';
  src: url('../font/BEsfehanBold.eot?#') format('eot'),  /* IE6–8 */
       url('../font/BEsfehanBold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../font/BEsfehanBold.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BFantezy';
  src: url('../font/BFantezy.eot?#') format('eot'),  /* IE6–8 */
       url('../font/BFantezy.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../font/BFantezy.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BFarnaz';
  src: url('../font/BFarnaz.eot?#') format('eot'),  /* IE6–8 */
       url('../font/BFarnaz.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../font/BFarnaz.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BFerdosi';
  src: url('../font/BFerdosi.eot?#') format('eot'),  /* IE6–8 */
       url('../font/BFerdosi.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../font/BFerdosi.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BHamid';
  src: url('../font/BHamid.eot?#') format('eot'),  /* IE6–8 */
       url('../font/BHamid.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../font/BHamid.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BHelal';
  src: url('../font/BHelal.eot?#') format('eot'),  /* IE6–8 */
       url('../font/BHelal.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../font/BHelal.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BHoma';
  src: url('../font/BHoma.eot?#') format('eot'),  /* IE6–8 */
       url('../font/BHoma.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../font/BHoma.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BJadidBold';
  src: url('../font/BJadidBold.eot?#') format('eot'),  /* IE6–8 */
       url('../font/BJadidBold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../font/BJadidBold.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BJalal';
  src: url('../font/BJalal.eot?#') format('eot'),  /* IE6–8 */
       url('../font/BJalal.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../font/BJalal.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BKoodakBold';
  src: url('../font/BKoodakBold.eot?#') format('eot'),  /* IE6–8 */
       url('../font/BKoodakBold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../font/BKoodakBold.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BKourosh';
  src: url('../font/BKourosh.eot?#') format('eot'),  /* IE6–8 */
       url('../font/BKourosh.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../font/BKourosh.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BLotus';
  src: url('../font/BLotus.eot?#') format('eot'),  /* IE6–8 */
       url('../font/BLotus.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../font/BLotus.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BMahsa';
  src: url('../font/BMahsa.eot?#') format('eot'),  /* IE6–8 */
       url('../font/BMahsa.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../font/BMahsa.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BMehrBold';
  src: url('../font/BMehrBold.eot?#') format('eot'),  /* IE6–8 */
       url('../font/BMehrBold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../font/BMehrBold.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BMitra';
  src: url('../font/BMitra.eot?#') format('eot'),  /* IE6–8 */
       url('../font/BMitra.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../font/BMitra.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BMorvarid';
  src: url('../font/BMorvarid.eot?#') format('eot'),  /* IE6–8 */
       url('../font/BMorvarid.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../font/BMorvarid.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BNarm';
  src: url('../font/BNarm.eot?#') format('eot'),  /* IE6–8 */
       url('../font/BNarm.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../font/BNarm.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BNasimBold';
  src: url('../font/BNasimBold.eot?#') format('eot'),  /* IE6–8 */
       url('../font/BNasimBold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../font/BNasimBold.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BNazanin';
  src: url('../font/BNazanin.eot?#') format('eot'),  /* IE6–8 */
       url('../font/BNazanin.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../font/BNazanin.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BRoya';
  src: url('../font/BRoya.eot?#') format('eot'),  /* IE6–8 */
       url('../font/BRoya.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../font/BRoya.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BSetarehBold';
  src: url('../font/BSetarehBold.eot?#') format('eot'),  /* IE6–8 */
       url('../font/BSetarehBold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../font/BSetarehBold.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BShiraz';
  src: url('../font/BShiraz.eot?#') format('eot'),  /* IE6–8 */
       url('../font/BShiraz.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../font/BShiraz.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BSinaBold';
  src: url('../font/BSinaBold.eot?#') format('eot'),  /* IE6–8 */
       url('../font/BSinaBold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../font/BSinaBold.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BTabassom';
  src: url('../font/BTabassom.eot?#') format('eot'),  /* IE6–8 */
       url('../font/BTabassom.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../font/BTabassom.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BTehran';
  src: url('../font/BTehran.eot?#') format('eot'),  /* IE6–8 */
       url('../font/BTehran.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../font/BTehran.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BTitrBold';
  src: url('../font/BTitrBold.eot?#') format('eot'),  /* IE6–8 */
       url('../font/BTitrBold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../font/BTitrBold.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BTitrTGEBold';
  src: url('../font/BTitrTGEBold.eot?#') format('eot'),  /* IE6–8 */
       url('../font/BTitrTGEBold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../font/BTitrTGEBold.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BTraffic';
  src: url('../font/BTraffic.eot?#') format('eot'),  /* IE6–8 */
       url('../font/BTraffic.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../font/BTraffic.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BVahidBold';
  src: url('../font/BVahidBold.eot?#') format('eot'),  /* IE6–8 */
       url('../font/BVahidBold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../font/BVahidBold.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BYagut';
  src: url('../font/BYagut.eot?#') format('eot'),  /* IE6–8 */
       url('../font/BYagut.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../font/BYagut.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BYas';
  src: url('../font/BYas.eot?#') format('eot'),  /* IE6–8 */
       url('../font/BYas.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../font/BYas.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BYekan';
  src: url('../font/BYekan.eot?#') format('eot'),  /* IE6–8 */
       url('../font/BYekan.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../font/BYekan.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BZar';
  src: url('../font/BZar.eot?#') format('eot'),  /* IE6–8 */
       url('../font/BZar.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../font/BZar.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BZiba';
  src: url('../font/BZiba.eot?#') format('eot'),  /* IE6–8 */
       url('../font/BZiba.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../font/BZiba.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

.BBadr {
	font-family: BBadr, Arial, Helvetica, sans-serif;
}

.BBaran {
	font-family: BBaran, Arial, Helvetica, sans-serif;
}

.BBardiya {
	font-family: BBardiya, Arial, Helvetica, sans-serif;
}

.BCompset {
	font-family: BCompset, Arial, Helvetica, sans-serif;
}

.BDavat {
	font-family: BDavat, Arial, Helvetica, sans-serif;
}

.BElham {
	font-family: BElham, Arial, Helvetica, sans-serif;
}

.BEsfehanBold {
	font-family: BEsfehanBold, Arial, Helvetica, sans-serif;
}

.BFantezy {
	font-family: BFantezy, Arial, Helvetica, sans-serif;
}

.BFarnaz {
	font-family: BFarnaz, Arial, Helvetica, sans-serif;
}

.BFerdosi {
	font-family: BFerdosi, Arial, Helvetica, sans-serif;
}

.BHamid {
	font-family: BHamid, Arial, Helvetica, sans-serif;
}

.BHelal {
	font-family: BHelal, Arial, Helvetica, sans-serif;
}

.BHoma {
	font-family: BHoma, Arial, Helvetica, sans-serif;
}

.BJadidBold {
	font-family: BJadidBold, Arial, Helvetica, sans-serif;
}

.BJalal {
	font-family: BJalal, Arial, Helvetica, sans-serif;
}

.BKoodakBold {
	font-family: BKoodakBold, Arial, Helvetica, sans-serif;
}

.BKourosh {
	font-family: BKourosh, Arial, Helvetica, sans-serif;
}

.BLotus {
	font-family: BLotus, Arial, Helvetica, sans-serif;
}

.BMahsa {
	font-family: BMahsa, Arial, Helvetica, sans-serif;
}

.BMehrBold {
	font-family: BMehrBold, Arial, Helvetica, sans-serif;
}

.BMitra {
	font-family: BMitra, Arial, Helvetica, sans-serif;
}

.BMorvarid {
	font-family: BMorvarid, Arial, Helvetica, sans-serif;
}

.BNarm {
	font-family: BNarm, Arial, Helvetica, sans-serif;
}

.BNasimBold {
	font-family: BNasimBold, Arial, Helvetica, sans-serif;
}

.BNazanin {
	font-family: BNazanin, Arial, Helvetica, sans-serif;
}

.BRoya {
	font-family: BRoya, Arial, Helvetica, sans-serif;
}

.BSetarehBold {
	font-family: BSetarehBold, Arial, Helvetica, sans-serif;
}

.BShiraz {
	font-family: BShiraz, Arial, Helvetica, sans-serif;
}

.BSinaBold {
	font-family: BSinaBold, Arial, Helvetica, sans-serif;
}

.BTabassom {
	font-family: BTabassom, Arial, Helvetica, sans-serif;
}

.BTehran {
	font-family: BTehran, Arial, Helvetica, sans-serif;
}

.BTitrBold {
	font-family: BTitrBold, Arial, Helvetica, sans-serif;
}

.BTitrTGEBold {
	font-family: BTitrTGEBold, Arial, Helvetica, sans-serif;
}

.BTraffic {
	font-family: BTraffic, Arial, Helvetica, sans-serif;
}

.BVahidBold {
	font-family: BVahidBold, Arial, Helvetica, sans-serif;
}

.BYagut {
	font-family: BYagut, Arial, Helvetica, sans-serif;
}

.BYas {
	font-family: BYas, Arial, Helvetica, sans-serif;
}

.BYekan {
	font-family: BYekan, Arial, Helvetica, sans-serif;
}

.BZar {
	font-family: BZar, Arial, Helvetica, sans-serif;
}

.BZiba {
	font-family: BZiba, Arial, Helvetica, sans-serif;
}