/* latin */
@font-face {
  font-family: 'Raleway';
    font-style: normal;
      font-weight: 400;
        src: local('Raleway'), url(http://fonts.gstatic.com/s/raleway/v9/WXRs6bFZChfzCx3pXob5o_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
	  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
	  }


/*@font-face {*/
  /*font-family: 'BMitra';*/
  /*src: url('../font/BMitra.eot?#') format('eot'),  /!* IE6–8 *!/*/
       /*url('../font/BMitra.woff') format('woff'),  /!* FF3.6+, IE9, Chrome6+, Saf5.1+*!/*/
       /*url('../font/BMitra.ttf') format('truetype');  /!* Saf3—5, Chrome4+, FF3.5, Opera 10+ *!/*/
/*}*/


footer,a {
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

@font-face {
  font-family: 'IranSans';
  src: url('/static/fonts/IRANSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'IranSansLight';
  src: url('/static/fonts/IRANSansLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'IranSansUltraLight';
  src: url('/static/fonts/IRANSansUltraLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: Raleway, IranSans, Tahoma, Arial, sans-serif;
    /*background: url('../image/bg.jpg') center center fixed;*/
    background: #efefef;
    color: #111;
    font-size: 14px;
    line-height: 20px;
}

.navitems li a{
    font-family: Raleway, IranSans, Tahoma, Arial, sans-serif;
    /*background: url('../image/bg.jpg') center center fixed;*/
    color: #3982c1;
    font-size: 14px;
}

.navitems li {
    vertical-align: middle;
}

.panel-title {
    font-size: 13px;
}

a, a:hover, a:active, a:link, a:visited {
    text-decoration: none;
}

a {
    color: rgba(26, 126, 140, 1);
}

a:hover {
    color: #419fc9;
}


.circle {
    border-radius: 50%;
}

.logo {
    padding: 0 55px 0 15px;
    background: url('/static/image/logo.png') no-repeat right;
    background-size: contain;
    text-align: right;
    height: 50px;
    display: inline-block;
}

.logo p {
    display: inline-block;
    font-size: 18px;
    line-height: 50px;
    margin: 0;
    color: #3982c1;
    text-align: right;
    font-weight: bold;
    vertical-align: middle;
}

.logo p.system-name {
    font-size: 14px;
    color: #3479b0;
    font-weight: normal;
    display: inline-block;
    margin-top: 5px;
    text-shadow: -1px 1px 0px whitesmoke;
}

.avatar {
    margin: -20px 0 -20px 0;
    padding: 5px;
    width: 40px;
    height: 40px;
    display: inline-block;
}

#messages-container > .panel-default> .panel-heading {
    background: rgba(243, 243, 243, 200) !important;
}

#messages-container > .panel {
    -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.4);
    -moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.4);
    box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.4);

    border-radius: 0px;
}

#messages-container > .panel-heading {
    background: #c9c9c9 !important;
}

.filter_replied > .panel-heading {
    /*background-image: -webkit-linear-gradient(top,#fbefef 0,#f6dada 100%) !important;*/
    /*background-image: linear-gradient(to bottom,#fbefef 0,#f6dada 100%) !important;*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbefef', endColorstr='#fff6dada', GradientType=0)!important;*/

    border-bottom: 3px solid #9ffb47;
}

.filter_metooed > .panel-heading {
    /*background-image: -webkit-linear-gradient(top,#f0fbf1 0,#dbf5de 100%);*/
    /*background-image: linear-gradient(to bottom,#f0fbf1 0,#dbf5de 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0fbf1', endColorstr='#ffdbf5de', GradientType=0);*/

    border-bottom: 3px solid #fafa48;
}

.filter_mine > .panel-heading {
    /*background-image: -webkit-linear-gradient(top,#eeeefd 0,#d8d7f9 100%);*/
    /*background-image: linear-gradient(to bottom,#eeeefd 0,#d8d7f9 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeeefd', endColorstr='#ffd8d7f9', GradientType=0);*/

    border-bottom: 3px solid #48bffa;
}

.user.name {
    font-weight: bold;
}

.table-row {
    display: table-row;
}

header {
    font-size: 13px;
}

.user.actions {
    font-size: 12px;
}

.table-cell {
    display: table-cell;
}

.flush-right {
    width: 100%;
    text-align: right;
}

.bg-whitesmoke {
    background-color: whitesmoke !important;
}


.badge{
    cursor: default;
}

.request-id {
    /**font-family: corbel;**/
    font-size: 0.9em;
    color: #999999;
}
.metoo-wrapper{
    /*direction: ltr !important;*/
    /*text-align: left !important;*/
}
.metoo{

}
.metooed {
    color: #ffed48;
}
.metooed:hover{
    cursor: pointer;
}

.conflict {
    display: inline;
}

.conflict.category {
    /*font-weight: bold;*/
}

.conflict.name {
    font-weight: normal;
}

.fixed-searchform {
    /* position: fixed; */
    /* FIXME (semora) */
}

.footer.base {
    line-height: 40px;
    font-size: 14px;

}

.normal-p {
    margin: 0 !important;
}

footer {
    z-index: 1!important;
    font-size: 13px;
    width: 100%;
    clear: both;
    background: #404040;
    margin: 40px auto 0 auto;
    color: whitesmoke;
}

footer p:last-of-type {
    margin: 0;
}

footer .top-part {
    margin: 0 auto 27px;
    padding: 15px 25px;
    background: #888888;
    color: #eeeeee;
    vertical-align: middle;
}

footer .top-part a, footer .top-part a:link, footer .top-part a:target {
    color: #bfbfbf;
}

footer .top-part a:hover {
    color: #eeeeee;
}


footer a, footer a:link, footer a:target {
    color: #4088d6;
}

footer a:hover {
    color: #3279b5;
}

footer .top-part p {
    display: inline-block;
    vertical-align: middle;
}

footer h4, footer h3 {
    font-weight: bold;
    font-size: 18px;
    color: rgba(255,255,255,0.75);
}

footer .copyright {
    margin: 0;
    width: 100%;
    line-height: 35px;
    font-size: 13px;
    padding: 8px 15px;
    background: rgba(0,0,0,0.3);
}

.panel-background-color{
    background-color: rgba(255,255,255,0.6);
}

.dir-rtl{
    direction: rtl;
}
.dir-ltr{
    direction: ltr;
}

#no_result {
    margin-top:  31px ;
    margin-bottom: 31px;
    /*padding-top: 50px;*/
    /*padding-bottom: 50px;*/
    color: #ababab;
    line-height: 48px;
}

.no_result_wrapper{
    background: url('../image/700096-icon-61-warning-128.png') left no-repeat;
    background-size: 48px;
    /*text-align: center;*/
}

.no_result_wrapper_text{
    padding-left: 53px;
}

a.permanent.link {
    /** TODO: semora **/
}

a.permanent.link:hover {
    /** TODO: semora **/
    cursor: pointer; cursor: hand;
    text-decoration: underline;
}

header .panel-heading {
    overflow: hidden;
    float: left;
    width: 177px;
    height: 31px;
    padding-top: 14px;
    padding-right: 35px;
    padding-left: 10px;
}

.conflict.name {
    font-weight: bold;
}

.user_info{

}

.remove_search_filter_style .glyphicon {
    transform: translateY(1px);
}

.remove_search_filter_style{
    /*padding: 2px;*/
    color: white;
    border-radius: 30px;
    padding: 4px 12px;
    margin: -5px 0;
    background: transparent;
    border: 1px solid white;
    /*background-color: rgba(106, 233, 255, 0.30);*/
    /*border-radius: 3px;*/
    /*text-shadow: 2px,7px,3px,5px;*/
    /*text-shadow: 0.1em 0.1em 0.2em black;*/

}

.remove_search_filter_style:hover{
    color: #ffffff;
    /*background-color: rgba(0, 0, 0, 0.28);*/
    cursor: pointer;
    background: rgb(255, 115, 85);
    border: 1px solid rgba(255, 115, 85, 0.6);
}

.btn-label{
    background-color: #ababab;
    /*border-image: none;*/
    color: #000000;
    font-weight: bold;
}

.btn-flat{
    background-color: #eaeaea;
}

/** What we had: **/

.select2-results {
    direction: rtl!important;
    text-align: right!important;
}

.content {
    min-height: 600px;
}

.full-width {
    width: 100%;
}

.help-inline {
    color: #ff0000;
}

.non-decoration:hover {
    text-decoration: none;
}

.hidden-obj {
    display: none;
}

#accordion {
    min-height: 110px;
}

#messages-container{
    /*z-index: -1;*/
}

.full-loading{
    color: #999999;
    width: 100%;
    height: 100px;
    margin-bottom: -100px;
    margin-top: 0;
    padding-top: 20px;
    text-align: center;
}

.green-ok {
    color: green;
}

.red-cancel {
    color: #ff0000;
}

.good-content {
    white-space: pre-line;
}

.read-item {
    display: none;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.user-pass-style{
    width: 75px;
}

.margin-bottom {
    margin-bottom: 10px;
}

.margin-bottom-lg{
    margin-bottom: 100px;
}

.center-div {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.bigtile a {
    font-family: Raleway, IranSans, Tahoma, Arial, sans-serif;
    color: #FFFFFF;
    font-size: 25px;
    padding: 10px;
}