footer,a {
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

body {
    background: url('../image/bg.jpg') center center fixed;
    color: #111;
}

a, a:hover, a:active, a:link {
    text-decoration: none;
}

a {
    color: rgba(26, 126, 140, 1);
}

a:hover {
    color: #419fc9;
}

footer a:hover {
    text-shadow: rgba(0,0,0, 0.7) 0px 0px 3px;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
}

.flush-right {
    width: 100%;
    text-align: right;
}

.bg-whitesmoke {
    background-color: whitesmoke !important;
}


.badge{
    cursor: default;
}

.request-id {
    /**font-family: corbel;**/
    font-size: 0.8em;
    color: #999999;
    cursor: default;
}
.metoo-wrapper{
    direction: ltr !important;
    text-align: left !important;
}
.metoo{

}
.metooed {
    color: #ffed48;
}
.metooed:hover{
    cursor: pointer;
}

.conflict {
    display: inline;
}

.conflict.category {
    font-weight: bold;
}

.conflict.name {
    font-weight: normal;
}

.fixed-searchform {
    /* position: fixed; */
    /* FIXME (semora) */
}

footer {
    width: 100%;
    clear: both;
    padding: 10px 50px;
    line-height: 40px;
    height: 60px;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, .4);
    -o-text-shadow: 1px 1px 0 rgba(255, 255, 255, .4);
    -moz-text-shadow: 1px 1px 0 rgba(255, 255, 255, .4);
    -webkit-text-shadow: 1px 1px 0 rgba(255, 255, 255, .4)
}

footer:hover {
    background: rgba(255, 255, 255, .3)
}

footer a {
    color: #666
}

footer a:hover {
    color: #4796da;
    text-shadow: 0 0 1px rgba(0, 0, 0, .1);
    -o-text-shadow: 0 0 1px rgba(0, 0, 0, .1);
    -moz-text-shadow: 0 0 1px rgba(0, 0, 0, .1);
    -webkit-text-shadow: 0 0 1px rgba(0, 0, 0, .1)
}

footer .terminator {
    font-size: 0.75em;
    color:#888;
}

.panel-background-color{
    background-color: rgba(255,255,255,0.6);
}

.dir-rtl{
    direction: rtl;
}

#no_result {
    margin-top:  31px ;
    margin-bottom: 31px;
    /*padding-top: 50px;*/
    /*padding-bottom: 50px;*/
    color: #ababab;
    line-height: 48px;
}

.no_result_wrapper{
    background: url('../image/700096-icon-61-warning-128.png') left no-repeat;
    background-size: 48px;
    /*text-align: center;*/
}

.no_result_wrapper_text{
    padding-left: 53px;
}

a.permanent.link {
    /** TODO: semora **/
}

a.permanent.link:hover {
    /** TODO: semora **/
    cursor: pointer; cursor: hand;
    text-decoration: underline;
}

header .panel-heading {
    overflow: hidden;
    float: left;
    width: 177px;
    height: 31px;
    padding-top: 14px;
    padding-right: 35px;
    padding-left: 10px;
}

.conflict.name {
    font-weight: bold;
}

.user_info{

}


.remove_search_filter_style{
    padding: 2px;
    color: #d7d7d7;
    /*background-color: rgba(106, 233, 255, 0.30);*/
    border-radius: 3px;
    /*text-shadow: 2px,7px,3px,5px;*/
    text-shadow: 0.1em 0.1em 0.2em black;

}

.remove_search_filter_style:hover{
    color: #ffffff;
    /*background-color: rgba(0, 0, 0, 0.28);*/
    cursor: pointer;
}

/** What we had: **/

.content {
    min-height: 600px;
}

.full-width {
    width: 100%;
}

.help-inline {
    color: #ff0000;
}

.non-decoration:hover {
    text-decoration: none;
}

.hidden-obj {
    display: none;
}

.home-accordion {
    max-height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 110px;
}

#messages-container{
    /*z-index: -1;*/
}

.full-loading{
    color: #999999;
    width: 100%;
    height: 100px;
    margin-bottom: -100px;
    margin-top: 0;
    padding-top: 20px;
    text-align: center;
}

.green-ok {
    color: green;
}

.red-cancel {
    color: #ff0000;
}

.good-content {
    white-space: pre-line;
}

.read-item {
    display: none;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.user-pass-style{
    width: 75px;
}

.margin-bottom {
    margin-bottom: 10px;
}

.margin-bottom-lg{
    margin-bottom: 100px;
}

.footer-style {

}

.footer-style:hover {
    background: rgba(255, 255, 255, 0.3);

}

.center-div {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}