:root {
    --navy-blue: #1c3861;
    --light-blue: #edf1ff;
    --my-red: #ed344b;
}

@font-face {
    font-family: 'Vazir';
    src: url('../font/Vazir.eot'); /* IE9 Compat Modes */
    src: url('../font/Vazir.woff2') format('woff2'), /* Super Modern Browsers */ url('../font/Vazir.woff') format('woff'), /* Pretty Modern Browsers */ url('../font/Vazir.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'VazirBold';
    src: url('../font/Vazir-Bold.eot');
    src: url('../font/Vazir-Bold.woff2') format('woff2'), /* Super Modern Browsers */ url('../font/Vazir-Bold.woff') format('woff'), /* Pretty Modern Browsers */ url('../font/Vazir-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
}

body {
    font-family: Vazir !important;
}

h2 {
    font-family: VazirBold !important;
}

.dir-ltr {
    direction: ltr;
}

.dir-rtl {
    direction: rtl;
}

#intro {
    height: 100vh;
    background: url("../img/bg.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header-wrapper {
    height: 100%;
    display: grid;
}

.header-wrapper h1 {
    padding: 5% 0;
}

#services .col-md {
    height: 35vh;
    padding-right: 0;
    padding-left: 0;
}

#services .row {
    margin-right: 0;
    margin-left: 0;
}

#services h5 {
    position: absolute;
    bottom: 0;
    margin-bottom: 2rem;
}

#members img, #members h5 {
    width: 100%;
}

#about_us {
    background: url("../img/shora_room.png") no-repeat center center fixed;
    background-size: cover;
    line-height: 1.8;
}

#about_us .col-md-10 {
    color: white;
    background: rgba(28, 56, 97, 0.6);
    text-align: justify;
}

#about_us .container {
    min-height: calc(100vh - 6rem);
    position: relative;
    display: flex;
    flex-direction: column;
}

.list-icon {
    width: 20%;
    padding: 0.5rem;
    margin: 1rem;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover {
    color: #ed344b !important;
}

.nav-item {
    transition: color 1000ms;
    -webkit-transition: color 1000ms;
}

.nav-item.active, .nav-item:hover {
    transition: color 1000ms;
    -webkit-transition: color 1000ms;
}

.navbar-toggler {
    overflow: hidden;
}

#rules {
    height: 140px;
}

.map-container {
    background: url("../img/map.svg") no-repeat scroll top;
    background-size: contain;
    background-size: 100%;
    max-height: 102vh;
}

.locker-container {
    object-fit: cover;
}

.locker-btn {
    font-size: 1vw !important;
    width: 5.5%;
    height: 2vw;
    padding: .5% !important;
    margin: .5% !important;
}

.locker .row {
    min-height: 20vh;
}

.locker .col {
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 20vh;
    cursor: pointer;
}

#lockerB, #lockerC, #lockerD, #lockerE, #lockerF, #lockerI, #lockerJ, #lockerO, #lockerN {
    max-width: 3.5%;
    height: 4vw;
    line-height: 3vw;
    text-align: center;
}

#lockerE, #lockerF, #lockerI, #lockerJ {
    max-width: 3% !important;
}

#lockerA, #lockerQ, #lockerP {
    width: 6.5% !important;
}

@media (max-width: 576px) {
    .d-padding {
        padding-top: 4% !important;
    }

    .btn-username {
        display: none !important;
    }
}

@media (min-width: 576px) {
    .d-padding {
        padding-top: 2% !important;
    }

    .dropdown-username {
        display: none !important;
    }
}

@media (min-width: 768px) {
    .d-padding {
        padding-top: 3.5% !important;
    }
}

@media (min-width: 992px) {
    .d-padding {
        padding-top: 4% !important;
    }
}

@media (min-width: 1200px) {
    .d-padding {
        padding-top: 1% !important;
    }
}

/* timeline */
.timeline {
    direction: ltr;
    position: relative;
    margin: 0 auto;
}

.timeline h2 {
    color: #1c3861;
}

.timeline p {
    direction: rtl;
}

.timeline .line {
    content: '';
    position: absolute;
    width: 5px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -2.5px;
}

.entry, .single-entry {
    padding: 1rem 3rem;
    position: relative;
    width: 50%;
}

.entry::after, .single-entry::after {
    content: '';
    position: absolute;
    width: 2rem;
    height: 2rem;
    right: -1rem;
    background-color: white;
    border: 4px solid #ed344b;
    top: 1.75rem;
    border-radius: 50%;
    z-index: 1;
}

.entry:nth-child(odd) {
    left: 0;
}

.entry:nth-child(even) {
    left: 50%;
}

.entry:nth-child(odd)::before, .single-entry::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 2rem;
    width: 0;
    z-index: 1;
    border: solid transparent;
    border-width: .75rem .75rem 0.75rem;
    border-left-color: white;
}

.entry:nth-child(even)::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 2rem;
    width: 0;
    z-index: 1;
    left: 2.25rem;
    border: solid transparent;
    border-width: .75rem .75rem 0.75rem 0;
    border-right-color: white;
}

.entry:nth-child(even)::after {
    left: -1rem;
}

.content {
    padding: 1.5rem 2rem;
    position: relative;
    background-color: white;
    border-radius: 6px;
}

@media screen and (max-width: 768px) {

    .timeline .line {
        left: 100%;
        margin-left: -5px;
    }

    .entry {
        width: 100%;
        padding-left: 0rem;
        padding-right: 3rem;
    }

    .entry::before {
        left: auto !important;
        border: solid transparent !important;
        border-width: .75rem .75rem 0.75rem !important;
        border-left-color: white !important;
    }

    .entry:nth-child(odd)::after, .entry:nth-child(even)::after {
        left: auto;
        margin-right: 2.5px;
    }

    .entry:nth-child(even) {
        left: 0%;
    }
}

main section {
    min-height: 100vh;
}

nav li a {
    transition: background-color 700ms, color 700ms;
}

@media (min-width: 1200px) {
    aside > nav > .navbar-brand {
        width: 100%;
    }

    aside {
        position: fixed !important;
        height: 100%;
    }

    .navbar-brand .nav-logo-box {
        padding: 1.5rem;
    }

    #logo-container {
        padding: 3rem 0;
    }

    .navbar-brand .nav-logo-box {
        display: block;
    }

    .navbar-brand .btn {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    aside {
        position: static;
    }

    aside > nav > .navbar-brand {
        display: flex !important;
    }

    .navbar-brand .nav-logo-box {
        padding-left: 0;
        padding-right: 0;
        margin: auto 0;
    }

    #logo-container {
        padding: 0;
    }

    .navbar-brand .logo {
        width: 85%;
    }

    #contact-icons {
        margin: auto 0;
    }

    .navbar .dropdown-toggle {
        text-align: right;
    }

    .navbar-brand .btn {
        margin-right: 1rem;
    }
}

.text-navy-blue {
    color: #1c3861 !important;
}

.bg-navy-blue {
    background-color: #1c3861 !important;
}

.border-right-navy-blue {
    border-right: solid #1c3861 5px;
}

.border-right-red {
    border-right: solid #ed344b 5px;
}

.text-light-blue {
    color: #edf1ff !important;
}

.bg-light-blue {
    background-color: #edf1ff !important;
}

.border-right-white {
    border-right: solid white 5px;
}

.text-red {
    color: #ed344b !important;
}

.bg-red {
    background-color: #ed344b !important;
}

.telegram-icon {
    background: url("../img/icon/paper-plane.svg");
}

.channel-icon {
    background: url("../img/icon/promotion.svg");
}

.email-icon {
    background: url("../img/icon/email.svg");
}

#contact-icons i {
    display: block;
    width: 22px;
    height: 22px;
    margin: 0.5rem;
    opacity: 0.5;
}

#contact-icons i:hover {
    opacity: 1;
}

.form-check-input {
    margin-right: -1.25rem;
}
