{% extends "base_of_new_website.html" %}
{% load static %}
{% load staticfiles %}
{% load static gravatar staticfiles hijack_tags %}


{% block title %}
تغییر گذرواژه  {{user}}
{% endblock %}
{% block body_main %}

<main class="col-xl-10 mr-auto p-0 text-right">

  <section class="bg-navy-blue py-5">
    <div class="container">
      <form class="text-white" action='{% url "password_reset_change" %}' method="post">
        {% csrf_token %}<!--TODO fix action -->
        <h2 class="mb-4 mx-2 px-4 text-white border-right-white">تغییر گذرواژه</h2>
        <div class="form-group col-lg-5">
          <label for="current-password">گذرواژه فعلی</label>
          <input type="password" class="form-control" id="current-password" name="password" required>
        </div>
        <div class="form-group col-lg-5">
          <label for="new-password">گذرواژه جدید</label>
          <input type="password" class="form-control" id="new-password" name="password1" required>
        </div>
        <div class="form-group col-lg-5">
          <label for="confirm-password">تایید گذرواژه</label>
          <input type="password" class="form-control" id="confirm-password" name="password2" value="" required>
        </div>
        <div class="form-group col-lg-5 text-center">
          <button type="submit" class="btn btn-success">ثبت</button>
        </div>
        {% for item in form.errors.values %}
            <label>{{ item }}</label>
        {% empty %}
            {% if sent %}
                <label>Your password changed successfully!</label>
            {% endif %}
        {% endfor %}
      </form>

    </div>
  </section>
</main>
{% endblock %}

<!-- SCRIPTS -->
{% block js %}
{{ block.super }}
<script>
$(document).ready(function () {
  $('[data-toggle="tooltip"]').tooltip();
});

</script>
{% endblock %}
