{% extends "base_of_new_website.html" %}
{% load i18n %}

{% block body_main %}

    <p>برای دریافت راهکار تغییر گذرواژه ایمیل خود را وارد کنید.</p>

    <form method="post">{% csrf_token %}
        {{ form.email.errors }}
        <p><label for="id_email">ایمیل</label> {{ form.email }} <input class="btn btn-primary"
                                                                                              type="submit"
                                                                                              value="بازیابی گذرواژه"/>
        </p>
    </form>
{% endblock %}
