{% extends 'password_reset/base.html' %}

{% load i18n %}

{% block title %}تغییر گذرواژه{% endblock title %}

<script>
    var $window = $(window);
    $window.on('load', function () {
        var $pass1 = $('#pass1');
        var $pass2 = $('#pass2');
        var maxWidth = Math.max($pass1.width(), $pass2.width());

        $pass1.css("width", maxWidth);
        $pass2.css("width", maxWidth);
    });
</script>

{% block content %}
    <!--<div class="center-block col-md-6 col-md-offset-3 col-lg-5 col-lg-offset-3 ">-->
    <form method="post" action="{% url 'password_reset_change' %}">
        <p>{% blocktrans %} Please choose your new
            password{% endblocktrans %}</p>
        {% csrf_token %}
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">
                    <div id="pass">Old password:</div>
                    {# <label for="id_password1">New password:</label>#}
                </div>
                <input id="id_password"
                       class="form-control"
                       name="password"
                       type="password"/>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">
                    <div id="pass1">New password:</div>
                    {# <label for="id_password1">New password:</label>#}
                </div>
                <input id="id_password1"
                       class="form-control"
                       name="password1"
                       type="password"/>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">
                    <div id="pass2">Confirm password:</div>
                    {# <label for="id_password2">Confirm password:</label>#}
                </div>
                <input id="id_password2"
                       class="form-control"
                       name="password2"
                       type="password"/>
            </div>
        </div>



        {% for item in form.errors.values %}
            <label>{{ item }}</label>
        {% empty %}
            {% if sent %}
                <label>Your password changed successfully!</label>
            {% endif %}
        {% endfor %}
        <div class="form-actions">
            <div class="table-row">
                <div class="table-cell">
                    <input class="btn btn-primary" type="submit"
                           value="{% trans 'Set new password' %}">
                </div>
            </div>
        </div>
    </form>
{% endblock %}
