{% extends "password_reset/base.html" %}
{% load i18n %}

{% block title %}{% trans "Password recovery" %}{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">

            <div class="col-lg-2">
                <div class="panel-heading">

                </div>
            </div>

        </div>
        <div class="row">
            <!--<div class="center-block col-md-6 col-md-offset-3 col-lg-5 col-lg-offset-3 ">-->
            <form method="post" action="{{ url }}">
                <div class="col-md-6 col-lg-5 col-centered">
                    <div class="panel panel-primary ">
                        <div class="panel-heading">{% trans "Password recovery" %}</div>
                        <div class="panel-body bg-whitesmoke">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <div id="username">Username</div>
                                    </div>
                                    <input type="text" class="form-control" id="id_username_or_email"
                                           name="username_or_email"/>

                                    <div class="input-group-addon">@ce.sharif.edu</div>
                                </div>
                            </div>
                            {% for item in form.errors.values %}
                                <label>{{ item }}</label>
                            {% endfor %}
                            <div class="form-actions">
                                <div class="table-row">
                                    <div class="table-cell">
                                        <input class="btn btn-primary" type="submit"
                                               value="{% trans "Recover my password" %}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
