{% extends "base_of_new_website.html" %}

{% load static %}
{% load staticfiles %}
{% load static gravatar staticfiles hijack_tags %}
{% load i18n %}


{% block body_main %}

<main class="col-xl-10 mr-auto p-0 text-right">

  <section class="bg-navy-blue py-5 text-white">
    <div class="container">
      <form method="post" action="{{ url }}">
        <h2 class="mb-4 mx-2 px-4 text-white border-right-white">فراموشی گذرواژه</h2>

        {% csrf_token %}
        <div class="form-group col-lg-5">
          <label for="id_username_or_email">نام کاربری</label>
          <div class="input-group dir-ltr">
            <input type="text" class="form-control" id="id_username_or_email"
            name="username_or_email"/>
            <div class="input-group-append">
              <span class="input-group-text">@ce.sharif.edu</span>
            </div>
          </div>
        </div>

        {% for item in form.errors.values %}
        <label>{{ item }}</label>
        {% endfor %}
        <div class="form-actions col-lg-5 text-center">
          <button class="btn btn-success" type="submit">بازیابی گذرواژه</button>
        </div>
      </form>

    </div>
  </section>
</main>
{% endblock %}

<!-- SCRIPTS -->
