{% extends "password_reset/base.html" %}
{% load i18n %}

{% block title %}{% trans "Password recovery sent" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">

            <div class="col-lg-2">
                <div class="panel-heading">

                </div>
            </div>

        </div>
        <div class="row">
            <!--<div class="center-block col-md-6 col-md-offset-3 col-lg-5 col-lg-offset-3 ">-->

                <div class="col-md-6 col-lg-5 col-centered">
                    <div class="panel panel-primary ">
                        <div class="panel-heading">{% trans "Password recovery sent" %}</div>
                        <div class="panel-body bgwhitesmoke">
                            <p>{% blocktrans with ago=timestamp|timesince %}An email was sent to <strong><a href="http://mail.ce.sharif.edu/" target="_blank">{{ email }}</a></strong> {{ ago }} ago. Use the link in it to set a new password.{% endblocktrans %}
                        </div>
                    </div>
                </div>

        </div>
    </div>
	
{% endblock %}
