{% extends "base_of_new_website.html" %}
{% load i18n %}
{% load static gravatar staticfiles hijack_tags %}

<!DOCTYPE html>
<html lang="en">


{% block title %}
بازنشانی پسورد
{% endblock %}بازنشانی پسورد

{% block body_main %}

<main class="col-xl-10 mr-auto p-0 text-right">

  <section class="bg-navy-blue py-5 text-white">
    <div class="container">
      <p>{#% blocktrans with ago=timestamp|timesince %#}ایمل حاوی لینک برای تغییر گذرواژه به
        <strong><a href="http://mail.ce.sharif.edu/" target="_blank">{{ email }}</a></strong>ارسال شد.
          {#% endblocktrans %#}
      </div>
    </section>
  </main>
{% endblock %}

<!-- SCRIPTS -->
