{% extends "base_of_new_website.html" %}
{% load static gravatar staticfiles hijack_tags %}
{% load i18n %}

{% block title %}
  تغییر گذرواژه | {{ user }}
{% endblock %}

{% block js %}
{{ block.super }}

<script>
var $window = $(window);
$window.on('load', function () {
  var $pass1 = $('#pass1');
  var $pass2 = $('#pass2');
  var maxWidth = Math.max($pass1.width(), $pass2.width());

  $pass1.css("width", maxWidth);
  $pass2.css("width", maxWidth);


});
</script>
{% endblock %}
{% block body_main %}

<main class="col-xl-10 mr-auto p-0 text-right">

  <section class="bg-navy-blue py-5">
    <div class="container">
      {% if invalid %}{% url "reset_password" as recovery_url %}

      <p>{% blocktrans %}Sorry, this password reset link is invalid. You can still <a href="{{ recovery_url }}">request a new one</a>.{% endblocktrans %}</p>
      {% else %}
      <!--<div class="center-block col-md-6 col-md-offset-3 col-lg-5 col-lg-offset-3 ">-->
      <form method="post" action="{% url 'password_reset_reset' token %}">
        <p>{% blocktrans %}Hi, <strong>{{ username }}</strong>. Please choose your new password.{% endblocktrans %}</p>
        {% csrf_token %}
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">
              <div id="pass1">New password:</div>
              {# <label for="id_password1">New password:</label>#}
            </div>
            <input id="id_password1"
            class="form-control"
            name="password1"
            type="password"/>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">
              <div id="pass2">Confirm password:</div>
              {# <label for="id_password2">Confirm password:</label>#}
            </div>
            <input id="id_password2"
            class="form-control"
            name="password2"
            type="password"/>
          </div>
        </div>

        {% for item in form.errors.values %}
        <label>{{ item }}</label>
        {% endfor %}
        <div class="form-actions">
          <div class="table-row">
            <div class="table-cell">
              <input class="btn btn-primary" type="submit"
              value="{% trans 'Set new password' %}">
            </div>
          </div>
        </div>
      </form>

      {% endif %}
    </div>
  </section>
</main>
{% endblock %}

<!-- SCRIPTS -->
