{% load static gravatar %}

<!-- In the name of god :D -->
<!doctype html>
<html>
<head>
    <title>{% block title %}{% endblock title %} | شورای صنفی دانشکده کامپیوتر دانشگاه صنعتی شریف</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block js %}
        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
        <script type="text/javascript" language="JavaScript">
            var $window = $(window);
            window.csrf_token = "{{ csrf_token }}";
            window.forgot_link = '{% url 'password_reset' %}';
        </script>
        <script type="text/javascript" src="{% static 'js/json.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <!--if lt IE 9]><script type="text/javascript" src="{% static 'js/html5shiv.js' %}"></script><![endif]-->
        <script type="text/javascript" src="{% static 'js/popover.js' %}"></script>
        <script type="text/javascript" language="JavaScript" src="{% static 'js/login.js' %}"></script>
    {% endblock %}
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/bootstrap-rtl.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    {% endblock %}
</head>
<body>
{% block navbar %}
    <nav class="navbar">
        <div class="navbar-header">
            <a href="{% url 'home' %}">
                <div class="navbar-inner" id="topbar">
                    <div class="logo dir-rtl">
                        <p>شورای صنفی دانشکده مهندسی کامپیوتر</p>
                    </div>
                </div>
            </a>
        </div>
        <ul class="nav navbar-nav navitems navbar-right">
            <li><a href="{% url 'issues' %}">رسیدگی به مشکلات رفاهی</a></li>
            <li><a href="{% url 'requests' %}">رسیدگی به مشکلات برنامه درسی</a></li>
            <li><a href="{% url 'all-announcements' %}">اطلاعیه‌ها</a></li>
            {#                <li><a href="{% url 'members' %}">اعضا</a></li>#}
            <li><a href="{% url 'all-events' %}">رویداد‌ها</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-left">
            <li>
                {% if user.is_authenticated %}
                    <a href="#" class="user name">{{ user }}
                {% else %}
                    <a style="color:#777777">شما وارد سایت نشده‌اید
                {% endif %}
                <div class="circle avatar">
                    <img class="circle" src="{% gravatar_url user.email %}">
                </div>
                </a>
            </li>

            {% if user.is_authenticated %}
                <li><a href="{% url 'password_change' %}">تغییر گذرواژه</a></li>
                <li><a href="{% url 'logout' %}">خروج</a></li>
            {% else %}
                <li><a href="#login_modal" data-toggle="modal" data-target="#login_modal">ورود</a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}

{% block body %}{% endblock %}
{% block footer %}
    <footer class="footer base">
        <div class="top-part">
            <p>همکف دانشکدهٔ مهندسی کامپیوتر، اتاق ۰۰۴، شورای صفی و رفاهی دانشکده مهندسی کامپیوتر</p>
            <p class="dir-ltr pull-left"><a href="https://telegram.me/shora_ce">@shora_ce</a></p>
        </div>
        <div class="container">
            <div class="col-lg-4 col-sm-12">
                <h4>خدمات شورای صنفی</h4>
                <p>
                    <a href="{% url 'requests' %}" target="_blank">مشکلات برنامه درسی</a> <br/>
                    <a href="{% url 'issues' %}" target="_blank">مشکلات و پیشنهادات رفاهی</a> <br/>
                    <a href="#" target="_blank">کتاب‌خانه</a> <br/>
                    <a href="#" target="_blank">لوازم ضروری</a> <br/>
                    <a href="#" target="_blank">کمدها</a> <br/>
                    <a href="#" target="_blank">گم‌شده‌ها</a> <br/>
                </p>
            </div>
            <div class="col-lg-4 col-sm-12">
                <h4>بخش‌های سایت</h4>
                <p>
                    {% if not request.user.is_authenticated %}
                    <a href="#login_modal" data-toggle="modal" data-target="#login_modal">ورود</a> <br/>
                    {% endif %}
                    <a href="https://telegram.me/shora_ce" target="_blank">کانال تلگرامی شورا</a> <br/>
                    <a href="https://telegram.me/shora_ce_bot" target="_blank">روبات تلگرامی شورا</a> <br/>
                    <a href="{% url 'requests' %}" target="_blank">مشکلات برنامه درسی</a> <br/>
                    <a href="{% url 'issues' %}" target="_blank">مشکلات و پیشنهادات رفاهی</a> <br/>
                </p>
            </div>
            <div class="col-lg-4 col-sm-12">
                <h4>لینک‌های مرتبط</h4>
                <p>
                    <a href="http://sharif.ir" target="_blank" rel="nofollow">دانشگاه صنعتی شریف</a> <br/>
                    <a href="http://ce.sharif.edu" target="_blank" rel="nofollow">وب‌گاه دانشکده</a> <br/>
                    <a href="http://internship.ce.sharif.edu" target="_blank" rel="nofollow">سامانهٔ کارآموزی
                        دانشکده</a> <br/>
                    <a href="http://ce.sharif.edu/programs-and-courses#Courses" target="_blank" rel="nofollow">سامانهٔ
                        درس‌افزار دانشکده</a> <br/>
                    <a href="http://mail.ce.sharif.edu" target="_blank" rel="nofollow">سامانهٔ ایمیل دانشکده</a> <br/>
                </p>
            </div>
        </div>
        <p class="copyright">
            &copy;
            <a href="{% url 'home' %}">شورای صنفی</a>دانشگاه صنعتی شریف
        </p>
    </footer>
{% endblock %}

{% if not request.user.is_authenticated %}
<div class="modal fade" tabindex="-1" role="dialog" id="login_modal">
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header dir-rtl">
                    <button class="pull-left close" type="button" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">ورود</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <div id="username">نام کاربری</div>
                            </div>
                            <input type="text" class="form-control" name="username">

                            <div class="input-group-addon">@ce.sharif.edu</div>
                        </div>
                        <div>{{ form.errors.username }}</div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <div id="password" class="col-md-8 col-lg-8">گذرواژه</div>
                            </div>
                            <input type="password" class="form-control" name="password">
                        </div>
                        <div>{{ form.errors.password }}</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-actions">
                        <div class="table-row">
                            <div class="table-cell">
                                <button type="submit" class="btn btn-primary">ورود</button>
                            </div>
                            <label class="flush-right table-cell dropdown-toggle"><a href="{% url 'password_reset' %}">فراموشی
                                رمز</a></label>
                        </div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </form>
</div><!-- /.modal -->
{% endif %}
</body>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-66577449-1', 'auto');
    ga('send', 'pageview');


</script>
</html>
<!-- Telbaaaaas -->
