{% load static gravatar %}

<!-- In the name of god :D -->
<!doctype html>
<html>
<head>
    <title>{% block title %}{% endblock title %} | شورای صنفی دانشکده کامپیوتر دانشگاه صنعتی شریف</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" language="JavaScript">
        var $window = $(window);
        window.csrf_token = "{{ csrf_token }}";






    </script>
    <script type="text/javascript" src="{% static 'js/json.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <!--if lt IE 9]><script type="text/javascript" src="{% static 'js/html5shiv.js' %}"></script><![endif]-->
    <script type="text/javascript" src="{% static 'js/popover.js' %}"></script>
    {% block extra_js %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/royafont.css' %}"/>
    {% block extra_styles %}{% endblock %}
</head>
<body>
{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header navbar-right">

            <a class="navbar-brand" href="#">
                <div class="navbar-inner" id="topbar">
                    <div class="container">
                        <div class=" logo dir-rtl">
                            <p>شورای صنفی دانشکده مهندسی کامپیوتر</p>

                        </div>
                    </div>
                </div>

            </a>
        </div>

        <div class="collapse navbar-collapse">

            <ul class="nav navbar-nav {% block size0 %}col-lg-10 col-md-10{% endblock %} navitems"
                style="display:table">
                <li class="col-lg-6 col-md-6">
                    <div class="">
                        {% if user.is_authenticated %}
                        <div class="panel panel-default panel-background-color">
                            <div class="panel-body">
                                <div class="circle avatar">
                                    <img class="circle" src="{% gravatar_url user.email %}">
                                </div>
                                <span class="user name">{{ user }}</span>

                                <div class="user actions pull-right">
                                    <a href="{% url 'logout' %}">خروج</a>
                                    |
                                    <a href="{% url 'password_reset_change' %}">تغییر گذرواژه</a>
                                </div>
                            </div>

                        </div>
                        {% else %}
                        <div class="panel panel-default panel-background-color">
                            <div class="panel-body">
                                <div class="circle avatar">
                                    <img class="circle" src="{% gravatar_url '' %}">
                                </div>

                                <div class="user actions pull-right">
                                    <a style="color:#777777">شما وارد نشده‌اید</a>
                                    |
                                    <a href="#login_modal" data-toggle="modal" data-target="#login_modal">ورود</a>
                                </div>
                            </div>

                        </div>
                        {% endif %}
                    </div>
                </li>
                <li class="col-lg-6 col-md-6" style="height:40px">

                </li>
                <li><a href="{% url 'home' %}">صفحه اصلی</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">سامانه‌ها<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="pull-right"><a href="{% url 'issues' %}">رسیدگی به مشکلات رفاهی</a></li>
                        <li><a href="{% url 'requests' %}">رسیدگی به مشکلات برنامه درسی</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'all-announcements' %}">اطلاعیه‌ها</a></li>
                <li><a href="{% url 'members' %}">اعضا</a></li>
                <li><a href="{% url 'all-events' %}">رویداد‌ها</a></li>

            </ul>

        </div>

    </div>
</nav>
{% endblock %}

{% block user_infos %}{% endblock %}
<div class="margin-bottom-lg">
    {% block body %}{% endblock %}
</div>
{% block footer %}
<footer class="footer base">
    <div class="col-lg-6 col-md-6">
        <p class="english">
            Designed by <a href="http://mjafar.me/" target="_blank">MJafar</a> and Semora, Powered by <a
                href="http://amin.sabbaghian.ir/" target="_blank">A'min</a>.
        </p>
    </div>

    <div class="col-lg-6 col-md-6">
        <p class="pull-right">
            <a href="{% url 'home' %}">شورای صنفی</a> <a href="http://ce.sharif.edu">دانشکده مهندسی کامپیوتر</a>، <a href="http://sharif.ir">دانشگاه
            صنعتی شریف</a> &copy;
        </p>
    </div>

</footer>
{% endblock %}

<div class="modal fade" tabindex="-1" role="dialog" id="login_modal">
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Login</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <div id="username">Username</div>
                            </div>
                            <input type="text" class="form-control" name="username">

                            <div class="input-group-addon">@ce.sharif.edu</div>
                        </div>
                        <div>{{ form.errors.username }}</div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <div id="password">Password</div>
                            </div>
                            <input type="password" class="form-control" name="password">
                        </div>
                        <div>{{ form.errors.password }}</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-actions">
                        <div class="table-row">
                            <div class="table-cell">
                                <button type="submit" class="btn btn-primary">Login</button>
                            </div>
                            <label class="flush-right table-cell dropdown-toggle"><a id="forgot" href="#">Forgot
                                Password</a></label>
                        </div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </form>
</div><!-- /.modal -->
</body>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-66577449-1', 'auto');
    ga('send', 'pageview');






</script>
</html>
<!-- Telbaaaaas -->
