{% load static %}
<!doctype html>
<html>
<head>
    <title>{% block title %}{% endblock title %}</title>

    <script language="JavaScript" src="{% static 'js/jquery.min.js' %}"></script>
    <script language="JavaScript" src="{% static 'js/jquery.form.js' %}"></script>
    <script language="JavaScript" src="{% static 'js/json.js' %}"></script>
    <script language="JavaScript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <!--[if lt IE 9]><script src="{% static 'js/html5shiv.js' %}"></script><![endif]-->
    <script language="JavaScript" src="{% static 'js/popover.js' %}"></script>
    <script language="JavaScript" src="{% static 'js/common.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <!--link rel="stylesheet" href="{% static 'css/bootstrap.rtl.min.css' %}" /-->
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/font-farsi.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block extra_styles %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
    <footer class="footer footer-style">
        <p class="english">
            TODO &copy; Park metal 2014 - Designed by <a href="http://chocolategroup.ir/" target="_blank">Chocolate</a> group
        </p>
</footer>
</body>
{% block extra_js %}{% endblock %}
</html>
