{% extends 'base.html' %}
{% block body %}
<div class="content">
    <div class="row container center-block">
        <div class="panel panel-info">
            <form action="{%  url 'login' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-addon">نام‌کاربری</div>
                      <input type="text" class="form-control" name="username">
                      <div class="input-group-addon">@ce.sharif.edu</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-addon">گذرواژه</div>
                      <input type="password" class="form-control" name="password">
                    </div>
                </div>
                <label>
                    {{ form.errors }}
                </label>
                <div class="form-actions">
                    <button type="submit" class="btn btn-info">ورود</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
