{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block extra_js %}
    <script>
        var forgot_link = '{% url "password_reset_recover" %}';
        var $ajax_search = "{% url 'objection_ajax_search' %}";
    </script>
    <script type="text/javascript" src="{% static 'js/login.js' %}"></script>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">

            <div class="col-lg-2">
                <div class="panel-heading">

                </div>
            </div>

        </div>
        <div class="row">
            <!--<div class="center-block col-md-6 col-md-offset-3 col-lg-5 col-lg-offset-3 ">-->
            <form action="{% url 'login' %}" method="post">
                <div class="col-md-6 col-lg-5 col-centered">
                    <div class="panel panel-primary ">
                        <div class="panel-heading">Login</div>
                        <div class="panel-body bgwhitesmoke">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <div id="username">Username</div>
                                    </div>
                                    <input type="text" class="form-control" name="username">

                                    <div class="input-group-addon">@ce.sharif.edu</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <div id="password">Password</div>
                                    </div>
                                    <input type="password" class="form-control" name="password">
                                </div>
                            </div>
                            {% for item in form.errors.values %}
                                <label>{{ item }}</label>
                            {% endfor %}
                            <div class="form-actions">
                                <div class="table-row">
                                    <div class="table-cell">
                                        <button type="submit" class="btn btn-primary">Login</button>
                                    </div>
                                    <label class="flush-right table-cell dropdown-toggle"><a id="forgot" href="#">Forgot
                                        Password</a></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
