{% extends 'base.html' %}
{% load static %}
{% load gravatar %}
{% block title %} اعضا{% endblock title %}
{% block body %}
<div class="col-md-1 col-lg-1"></div>
<div class="col-md-10 col-lg-10">
    <div class="panel panel-primary panel-background-color">
        <div class="panel-heading dir-rtl"> اعضای شورای صنفی در سال تحصیلی ۹۵-۹۴</div>

        <div class="panel-body dir-rtl">
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge pull-left"> نرم افزار - ورودی ۹۳</span>
                    سید محمد حسینی
                </li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge pull-left"> نرم افزار - ورودی ۹۱</span>
                    رامتین یزدانیان
                </li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge pull-left"> نرم افزار - ورودی ۹۱</span>
                    محمد صدرا مرادیان
                </li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge pull-left"> فناوری اطلاعات - ورودی ۹۱</span>
                    فرزانه هاشمی
                </li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge pull-left"> نرم افزار - ورودی ۹۳</span>
                    سامان هادیان
                </li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge pull-left"> فناوری اطلاعات - ورودی ۹۳</span>
                    سید امیرحسین حمیدیان
                </li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge pull-left"> نرم افزار - ورودی ۹۱</span>
                    محمد جعفر مشهدی‌ابراهیم
                </li>
            </ul>

        </div>
    </div>
</div>
{% endblock %}