{% extends 'base.html' %}
{% load static %}
{% load gravatar %}
{% block title %}Messages{% endblock title %}
{% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'js/select2/select2.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'js/select2/select2-bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/toastr.css' %}"/>
{% endblock %}
{% block navbar %}{% endblock %}
{% block user_infos %}
    <header>
        <div class="container">
            <div class="row" style="margin-top: 20px">
                <div class="col-lg-4 col-md-4">
                    <div class="panel panel-default panel-background-color">
                        <div class="panel-body">
                            <div class="circle avatar"><img class="circle" src="{% gravatar_url user_email %}"></div>
                            <span class="user name">{{ user }}</span>

                            <div class="user actions pull-right">
                                <a href="{% url 'password_reset_change' %}">Change Password</a>
                                |
                                <a href="{% url 'logout' %}">Logout</a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-8 col-md-8 logo dir-rtl">
                    <p>شورای صنفی دانشکده مهندسی کامپیوتر</p>

                    <p class="system-name hidden-phone">{% block system_name %}{% endblock %}</p>
                </div>

            </div>
        </div>
    </header>
{% endblock %}
{% block body %}
    <div class="container">
        {#        <div class="row">#}
        {##}
        {#            <div class="col-lg-2 col-md-2">#}
        {#                <div class="panel-heading">#}
        {##}
        {#                </div>#}
        {#            </div>#}
        {##}
        {#        </div>#}

        <div class="row">

            <div class="col-lg-4 col-md-4">
                <div class="panel panel-primary panel-background-color">
                    <div class="panel-heading">
                        <span>Search & Add</span>

                        <span class="hide" id="remove_search_filter">
                            <a class="remove_search_filter_style pull-right">
                                <span>remove search filter</span>
                                <span class="glyphicon glyphicon-filter"></span>
                            </a>
                        </span>
                    </div>
                    <div class="panel-body dir-rtl">
                        {% block form %}
                            {% include 'searchform.html' %}
                        {% endblock %}
                    </div>
                </div>
                <footer class="footer panel-body">
                    <p class="english normal-p">
                        {% block footer %}{% endblock %}
                    </p>
                </footer>

            </div>

            <div class="col-lg-8 col-md-8" id="messages-show">
                <div class="panel panel-primary panel-background-color">
                    <div class="panel-heading">
                        Messages
                        <div class="pull-right" id="loading">
                            loading
                            <img src="{% static 'image/92.GIF' %}" style="width: 20px;height: 20px;">
                        </div>

                    </div>

                    <div class="panel-body">
                        <div class="nav nav-tabs margin-bottom" id="filter">
                            <div class="pull-right dir-rtl">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-flat btn-sm">
                                        <input type="checkbox" name="mine" id="mine_checkbox">
                                        مشکلات من
                                    </label>

                                </div>
                            </div>
                            <div class="pull-left">
                                <div class="btn-group" data-toggle="buttons">
                                    <span class="btn btn-sm disabled btn-label">sort by </span>
                                    {#                                    <label class="btn btn-flat btn-sm">#}
                                    {#                                        <input type="radio" >#}
                                    {#                                        flat test#}
                                    {#                                    </label>#}
                                    <label class="btn btn-flat btn-sm">
                                        <input type="radio" name="sort" id="me_too_radio" value="metoo">
                                        me too
                                    </label>
                                    <label class="btn btn-flat btn-sm active">
                                        <input type="radio" name="sort" id="id_radio" value="id" checked>
                                        time
                                    </label>

                                </div>
                            </div>
                            {#                            <input type="checkbox" name="mine" id="mine_checkbox">#}

                        </div>
                        <div class="" id="accordion">
                            {#                            <div class="nav nav-tabs margin-bottom"></div>#}
                            {#                            <ul >#}
                            {#                            <h3 class="full-loading" id="loading">#}
                            {#                                Loading...#}
                            {#                                <div style="background-color: rgba(0,0,0,0)">#}
                            {##}
                            {#                                    background: url('../image/bg.jpg') center center fixed#}
                            {#                                </div>#}
                            {#                            </h3>#}

                            <div class="full hide" id="no_result">
                                <div class="no_result_wrapper">
                                    <span class="no_result_wrapper_text">
                                        No messages matched your search. You can make a new message!
                                    </span>
                                </div>
                            </div>
                            <div id="messages-container"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block message_template %}{% endblock %}