{% extends 'base.html' %}
{% load static %}
{% block title %}Messages{% endblock title %}
{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{% url 'js/select2/select2.css' %}" />
{% endblock %}
{% block extra_js %}
<script type="text/javasctipt">
var messages = [
{% for item in messages %}
    {
        data_id: {{ item.id }},
        category_id: {{ item.category.id }},
        course_name: '{{ item.course_name }}',
        offered_course: '{{ item.offered_course }}',
        category: '{{ item.category }}',
        second_course: '{{ item.second_course }}',
        message: '{{ item.message|safe }}',
    },
{% endfor %}
];

$('#messages-container').children().remove();
for (var i=0; i<messages.length; ++i) {
    var item = messages[i];
    var htmlrepr = $('div[mj-message-template]').clone();
    htmlrepr
        .attr('mj-dataid', item.data_id)
        .attr('mj-category-id', item.category_id);
    htmlrepr.children('[mj-request-id]').html(item.data_id);

    htmlrepr.children('[mj-category!=else]').hide();
    for (var i=0; i<5; ++i) {
        if (item.category_id == i) {
            htmlrepr.children('[mj-category='+i+']').show();
            htmlrepr.children('[mj-category=else]').hide();
        }
    }
    if (item.category_id == 3) {
        htmlrepr.children('[mj-course-1]').html(item.course_name);
    } else {
        htmlrepr.children('[mj-course-1]').html(item.offered_course);
    }
    htmlrepr.children('[mj-course-2]').html(item.second_course);
    htmlrepr.children('[mj-conflict-category]').html(item.category);
    htmlrepr.children('[mj-metoo-numer]').html(/* TODO (mjafar, a'min) */);
    htmlrepr.removeClass('hide');


    $('#messages-container').append(htmlrepr);
}

</script>
<sctipt type="text/javasctipt" src="{% url 'js/select2/select2.min.js' %}"></sctipt>
<sctipt type="text/javasctipt" src="{% url 'js/searchform.js' %}"></sctipt>
{% endblock %}
{% block body %}
<div class="row container center-block">
    <div class="col-lg-4">
        {% include 'searchform.html' %}
    </div>
    <div class="col-lg-8" id="messages-show">
        <legend>
            Messages
        </legend>
        <div class="panel-group home-accordion" id="accordion">
            <div id="messages-container">
                <div mj-message-template class="hide">
                    <div class="panel panel-default" mj-dataid="{{ item.id }}" mj-category-id="{{ item.category.id }}">
                        <span class="requestid" mj-request-id>{{ item.id }}</span>
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" class="non-decoration" href="#collapse-{{ item.id }}">
                                   <span class="conflict name" mj-course-1 mj-category="3">{{ item.course_name }}</span>
                                   <span class="conflict name" mj-course-1 mj-category="else">{{ item.offered_course }}</span>
                                   : <span class="conflict category" mj-conflict-category>{{ item.category }}</span>
                                   <div mj-category="1">با<span class="conflict name" mj-course-2>{{ item.second_course }}</span></div>
                                </a>
                            </h4>
                            <a href="#" class="metoo" itemid="{{ item.id }}"  mj-metoo-link>me too!</a>
                            <span class="badge" mj-metoo-number>3</span> <!-- TODO: number of meetoos -->
                        </div>
                        <div id="collapse-{{ item.id }}" class="panel-collapse collapse in">
                            <div class="panel-body good-content">
                                {% if item.message %}
                                    {{ item.message|safe }}
                                {% else %}
                                    <i>متنی نیست</i>
                                {% endif %}
                            </div>
                            {% if item.reply %}
                                <div class="panel-body good-content">پاسخ : {{ item.reply }}
                                <br> توسط : {{ item.reply_by.get_full_name }}
                                    </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}