{% extends 'base.html' %}
{% load static %}
{% block title %}Messages{% endblock title %}
{% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'js/select2/select2.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'js/select2/select2-bootstrap.css' %}"/>
{% endblock %}
{% block extra_js %}
    <script type="text/javascript" language="JavaScript" src="{% static 'js/select2/select2.min.js' %}"></script>
    <script type="text/javascript" language="JavaScript" src="{% static 'js/searchform.js' %}"></script>
    <script type="text/javascript" language="JavaScript" src="{% static 'js/messages.js' %}"></script>
    <script type="text/javascript" language="JavaScript">
    var $ajax_metoo = '{% url 'add_me_too' %}';
    var $load_url = '{% url 'get_objections_list' %}';

    var messages = [
        {
            data_id: 1,
            category_id: 1,
            category: 'تلاقی برنامه هفتگی',
            course_name: 'برنامه نویسی پیشرفته',
            offered_course: '',
            second_course: 'محاسبات عددی',
            message: 'مرسی که ارائه میدین',
            metoos: 4,
            metooed: false
        },
        {
            data_id: 37,
            category_id: 2,
            category: 'Jahan eslam',
            course_name: 'شناسی',
            offered_course: 'عباس شناسی ',
            second_course: 'گوز  ',
            message: 'دلم درد می‌کنه!!',
            metoos: 15,
            metooed: true
        },
    {% for item in messages %}
        {
            {% if item.reply %}
            reply: '{{ item.reply }}',
            reply_by: '{{ item.reply_by.get_full_name }}',
            {% endif %}
            data_id: {{ item.id }},
            category_id: {{ item.category.id }},
            category: '{{ item.category }}',
            course_name: '{{ item.course_name }}',
            offered_course: '{{ item.offered_course }}',
            second_course: '{{ item.second_course }}',
            message: '{{ item.message|safe }}',
            metoos: 0, /* TODO (A'min) */
            metooed: false /* TODO (A'min) */
        },
    {% endfor %}
    ];

    $window.on('load', function() {
        setTimeout(function() {showMessages(messages);}, 1000);
    });
    </script>

{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">

            <div class="col-lg-2 col-md-2">
                <div class="panel-heading">

                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-4 col-md-4">
                <div class="panel panel-primary panel-background-color">
                    <div class="panel-heading">
                        Search & Add
                    </div>
                    <div class="panel-body dir-rtl">
                        {% include 'searchform.html' %}
                    </div>
{#                <div class="panel panel-primary">#}
{#                    <legend>Search</legend>#}
{#                    {% include 'searchform.html' %}#}
{#                </div>#}
                </div>
            </div>

            <div class="col-lg-8 col-md-8" id="messages-show">
                <div class="panel panel-primary panel-background-color">
                    <div class="panel-heading">
                        Messages
                    </div>
                    <div class="panel-body">
                        <div class="panel-group home-accordion" id="accordion">
                            <div id="messages-container"></div>
                        </div>
                    </div>
                </div>
{#                <legend>#}
{#                    Messages#}
{#                </legend>#}
{#                <div class="panel-group home-accordion" id="accordion">#}
{#                    <div id="messages-container"></div>#}
{#                </div>#}
            </div>
        </div>
{#        <div class="row center-block">#}
{##}
{#            <div class="col-lg-4">#}
{#                <div class="fixed-searchform">#}
{#                    {% include 'searchform.html' %}#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-lg-8" id="messages-show">#}
{#                <legend>#}
{#                    Messages#}
{#                </legend>#}
{#                <div class="" id="accordion">#}
{#                    <div id="messages-container"></div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    </div>

<div class="panel panel-default dir-rtl hide" mj-dataid="" mj-category-id="" mj-message-template="true">
    <div class="panel-heading">
        <span class="request-id" mj-request-id></span>
        <a data-toggle="collapse" data-parent="#accordion" class="non-decoration">
            <span class="panel-title">
            <span class="conflict name" mj-course-1 mj-category="3"></span>
            <span class="conflict name" mj-course-1 mj-category="else"></span>
            : <span class="conflict category" mj-conflict-category></span>
            <span mj-category="1"> with <span class="conflict name" mj-course-2></span></span>
            </span>
        </a>
        <div class="pull-left metoo-wrapper">
            <span class="badge" mj-metoo-number>0</span>
            <a class="metoo" href="#"  mj-dataid="" mj-metoo-link>me too!</a>
        </div>
    </div>
    <div class="panel-collapse collapse in">
        <div class="panel-body good-content" mj-message-container></div>
        <div class="panel-body good-content hide" mj-reply-wrapper>
            <div mj-reply-text></div>by: <span mj-reply-name></span>
        </div>
    </div>
 </div>
{% endblock %}