{% extends 'base.html' %}
{% load static %}
{% load gravatar %}
{% block title %}Messages{% endblock title %}
{% block footer %}{% endblock %}
{% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'js/select2/select2.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'js/select2/select2-bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/toastr.css' %}"/>
{% endblock %}
{% block extra_js %}
    <script type="text/javascript" language="JavaScript" src="{% static 'js/select2/select2.min.js' %}"></script>
    <script type="text/javascript" language="JavaScript" src="{% static 'js/toastr.js' %}"></script>
    <script type="text/javascript" language="JavaScript" src="{% static 'js/searchform.js' %}"></script>
    <script type="text/javascript" language="JavaScript" src="{% static 'js/messages.js' %}"></script>
    <script type="text/javascript" language="JavaScript" src="{% static 'js/remove_search_filter.js' %}"></script>
    <script type="text/javascript" language="JavaScript">
        var $ajax_metoo = '{% url 'add_me_too' %}';
        var $load_url = '{% url 'get_objections_list' %}';
    </script>
{% endblock %}
{% block navbar %}{% endblock %}
{% block user_infos %}
    <header>
        <div class="container">
            <div class="row" style="margin-top: 20px">
                <div class="col-lg-4 col-md-4">
                    <div class="panel panel-default panel-background-color">
                        <div class="panel-body">
                            <div class="circle avatar"><img class="circle" src="{% gravatar_url user_email  %}"></div>
                            <span class="user name">{{ user }}</span>
                            <div class="user actions pull-right">
                                <a href="{% url 'password_reset_change' %}">Change Password</a>
                                |
                                <a href="{% url 'logout' %}">Logout</a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-8 col-md-8 logo dir-rtl">
                    <p>شورای صنفی دانشکده مهندسی کامپیوتر</p>
                    <p class="description hide-mobile">سامانه رسیدگی به مشکلات برنامه درسی</p>
                </div>

            </div>
        </div>
    </header>
{% endblock %}
{% block body %}
    <div class="container">
        {#        <div class="row">#}
        {##}
        {#            <div class="col-lg-2 col-md-2">#}
        {#                <div class="panel-heading">#}
        {##}
        {#                </div>#}
        {#            </div>#}
        {##}
        {#        </div>#}

        <div class="row">

            <div class="col-lg-4 col-md-4">
                <div class="panel panel-primary panel-background-color">
                    <div class="panel-heading">
                        <span>Search & Add</span>

                        <span class="hide" id="remove_search_filter">
                            <a  class="remove_search_filter_style pull-right">
                                <span>remove search filter</span>
                                <span class="glyphicon glyphicon-filter"></span>
                            </a>
                        </span>
                    </div>
                    <div class="panel-body dir-rtl">
                        {% include 'searchform.html' %}
                    </div>
                </div>
                <footer class="footer panel-body">
                    <p class="english normal-p">
                        Designed by <a href="http://mjafar.me/" target="_blank">MJafar</a> and Semora, Powered by <a
                            href="http://amin.sabbaghian.ir/" target="_blank">A'min</a>. <span class="">Thank you <a
                            href="http://term.inator.ir/" target="_blank">Terminator</a> :-)</span>
                    </p>
                </footer>

            </div>

            <div class="col-lg-8 col-md-8" id="messages-show">
                <div class="panel panel-primary panel-background-color">
                    <div class="panel-heading">
                        Messages
                        <div class="pull-right" id="loading">
                            loading
                            <img src="{% static 'image/92.GIF' %}" style="width: 20px;height: 20px;">
                        </div>

                    </div>

                    <div class="panel-body">
                        <div class="nav nav-tabs margin-bottom dir-rtl" id="filter">
                            <input type="checkbox" name="mine" id="mine_checkbox">
                            اعتراضات من

                        </div>
                        <div class="" id="accordion">
{#                            <div class="nav nav-tabs margin-bottom"></div>#}
{#                            <ul >#}
{#                            <h3 class="full-loading" id="loading">#}
{#                                Loading...#}
{#                                <div style="background-color: rgba(0,0,0,0)">#}
{##}
                                    {#                                    background: url('../image/bg.jpg') center center fixed#}
{#                                </div>#}
{#                            </h3>#}

                            <div class="full hide" id="no_result">
                                <div class="no_result_wrapper">
                                    <span class="no_result_wrapper_text">
                                        No messages matched your search. You can make a new message!
                                    </span>
                                </div>
                            </div>
                            <div id="messages-container"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>








    <div class="panel panel-default dir-rtl hide" mj-dataid="" mj-category-id="" mj-message-template="true">
        <div class="panel-heading">
{#            <object style="" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"#}
{#                    width="14"#}
{#                    height="14" >#}
{#                <param name="movie" value="/flash/clippy.swf"/>#}
{#                <param name="allowScriptAccess" value="always" />#}
{#                <param name="quality" value="high" />#}
{#                <param name="scale" value="noscale" />#}
{#                <param name="FlashVars" value="text=">#}
{#                <param name="bgcolor" value="#{bgcolor}">#}
{#                <embed src="{% static 'clippy.swf' %}"#}
{#                       width="14"#}
{#                       height="14"#}
{#                       name="clippy"#}
{#                       quality="high"#}
{#                       allowScriptAccess="always"#}
{#                       type="application/x-shockwave-flash"#}
{#                       pluginspage="http://www.macromedia.com/go/getflashplayer"#}
{#                       FlashVars="text="#}
{#                />#}
{#            </object>#}
            <div class="pull-left metoo-wrapper">
                <span class="badge" mj-metoo-number>0</span>
                <a class="metoo" href="#" mj-metoo-link>me too!</a>
            </div>
            <a href="#" target="_self" class="permanent link" mj-permanent-link><span class="request-id glyphicon glyphicon-link" mj-request-id></span></a>
            <a data-toggle="collapse" data-parent="#accordion" class="non-decoration">
            <span class="panel-title">
            <span class="conflict category" mj-conflict-category></span>
            <span class="conflict name" mj-course-1></span>
            <span mj-category="1"> با <span class="conflict name" mj-course-2></span></span>
            </span>
            </a>


        </div>
        <div class="panel-collapse collapse in">
            <div class="panel-body good-content" mj-message-container></div>
            <div class="panel-body good-content hide well" style="margin-bottom: 0px" mj-reply-wrapper>
                <span mj-reply-text></span>
                توسط: <span mj-reply-name></span>
            </div>
        </div>
    </div>
{% endblock %}