{% load static %}
{% load my_app_filters %}
<form action="" method="POST" class="" name="search_form">
    {% csrf_token %}
    <fieldset>
        {{ form.category|get_form_field_as_div:"12$searchable"|safe }}
        {{ form.offered_course|get_form_field_as_div:"12$hidden-obj offered-course-div courses searchable"|safe }}
        {{ form.second_course|get_form_field_as_div:"12$hidden-obj second-course-div searchable"|safe }}
        {{ form.course_name|get_form_field_as_div:"12$hidden-obj course-name-div courses searchable"|safe }}
        {{ form.message|get_form_field_as_div:12|safe }}
    </fieldset>
    <div class="form-actions col-lg-12" style="margin-top:10px">
        <button class="btn btn-primary" id="add_message" role="button">Send</button> <!-- TODO -->
    </div>
</form>
